.smm-info {
    position: relative;
    padding: 0 0 97px 0;
    & .container {
        max-width: 1440px;
    }
    &__block {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 90px;
        &-image {
            width: 516px;
            height: 470px;
            margin-top: 70px;
            position: relative;
            &::after {
                content: "";
                position: absolute;
                top: 34px;
                left: -24px;
                width: 499px;
                height: 460px;
                border: 1px solid #DC4139;
                z-index: -1;
            }
            & img {
                width: 516px;
                height: 470px;
            }
        }
        &-text {
            display: flex;
            flex-direction: column;
            &-add {
                height: 29px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 29px;
                letter-spacing: 0.01em;
                color: #9C9C9C;
                position: relative;
                margin-top: 100px;
                &::after {
                    content: "/ 00-1 /";
                    white-space: pre;
                    position: absolute;
                    top: -60px;
                    left: 0;
                    height: 18px;
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.01em;
                    text-transform: uppercase;
                    color: #9C9C9C;
                }
                &::before {
                    content: "digital агентство";
                    position: absolute;
                    top: 7px;
                    left: 208px;
                    font-family: Circe;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    letter-spacing: 0.01em;
                    color: #9C9C9C;
                }
            }
            &-title {
                margin-top: 53px;
                font-family: Circe;
                font-style: normal;
                font-weight: bold;
                font-size: 30px;
                line-height: 47px;
                letter-spacing: 0.12em;
                text-transform: uppercase;
                color: $black;
                & span {
                    color: #DC4139;
                }
            }
            &-item {
                margin-top: 40px;
                width: 414px;
                height: 75px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 25px;
                color: #535353;
            }
        }
        &-btn {
            margin-top: 68px;
            margin-bottom: 203px;
            &-container {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 97px;
                    height: 47px;
                    border: 1px solid #dc4139;
                    top: 88px;
                    left: -23px;
                }
            }
        }
    }
    &__table {
        max-width: 1440px;
        padding: 0 90px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        position: relative;
        z-index: -1;
        &::after {
            content: "BP";
            position: absolute;
            top: 108px;
            left: 658px;
            width: 124px;
            height: 124px;
            background: #DC4139;
            box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 44px;
            text-transform: uppercase;
            color: #FFFFFF;
            z-index: 11;
        }
        &::before {
            content: "";
            position: absolute;
            top: 100px;
            left: 650px;
            width: 140px;
            height: 140px;
            border: 1px solid #DC4139;
            box-sizing: border-box;
            border-radius: 50%;
            background: gainsboro;
            z-index: 10;
        }
        &-block {
            width: 100%;
            border-top: 1px solid #DC4139;
            display: flex;
            justify-content: center;
            align-items: center;
            &:last-child {
                border-bottom: 1px solid #DC4139;
            }
        }
        &-item {
            border-left: 1px solid #dc4139;
            margin-left: 90px;
            &-1 {
                position: relative;
                &::after {
                    content: "1";
                    position: absolute; 
                    top: 43px;
                    left: -45px;
                    width: 89px;
                    height: 89px;
                    background: #DC4139;
                    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 47px;
                    letter-spacing: 0.12em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    border-radius: 50%;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 37px;
                    left: -51px;
                    width: 99px;
                    height: 99px;
                    border: 1px solid #DC4139;
                    border-radius: 50%;
                    background: gainsboro;
                }
            }
            &-2 {
                position: relative;
                &::after {
                    content: "2";
                    position: absolute; 
                    right: -45px;
                    top: 42px;
                    width: 89px;
                    height: 89px;
                    background: #DC4139;
                    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 47px;
                    letter-spacing: 0.12em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    border-radius: 50%;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 36px;
                    right: -51px;
                    width: 99px;
                    height: 99px;
                    border: 1px solid #DC4139;
                    border-radius: 50%;
                    background: gainsboro;
                }
            }
            &-3 {
                position: relative;
                &::after {
                    content: "3";
                    position: absolute; 
                    top: 6px;
                    left: -163px;                
                    width: 89px;
                    height: 89px;
                    background: #DC4139;
                    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 47px;
                    letter-spacing: 0.12em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    border-radius: 50%;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    left: -169px;
                    width: 99px;
                    height: 99px;
                    border: 1px solid #DC4139;
                    border-radius: 50%;
                    background: gainsboro;
                }
            }
            &-4 {
                position: relative;
                &::after {
                    content: "4";
                    position: absolute; 
                    top: 6px;
                    right: -47px;
                    width: 89px;
                    height: 89px;
                    background: #DC4139;
                    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-family: Circe;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 30px;
                    line-height: 47px;
                    letter-spacing: 0.12em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    border-radius: 50%;
                }
                &::before {
                    content: "";
                    position: absolute;
                    top: 0px;
                    right: -53px;
                    width: 99px;
                    height: 99px;
                    border: 1px solid #DC4139;
                    border-radius: 50%;
                    background: gainsboro;
                }
            }
            &:last-child {
                border-right: 1px solid #dc4139;
                margin-left: 0;
                margin-right: 90px;
            }
            &-title {
                margin: 37px 0 0 118px;
                font-family: Circe;
                font-style: normal;
                font-weight: bold;
                font-size: 17px;
                line-height: 46px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #000000;
            }
            &-text {
                margin: 1px 75px 38px 118px;
                width: 347px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 25px;
                color: #535353;
            }
        }
    }
}
// Button
button.smm-info__block-btn {
    font-family: Circe;
	letter-spacing: 1px;
	background: none;
	color: $black;
	position: relative;
	outline: none;
	border: none;
	height: 50px;
	width: 190px;
	font-size: 12px;
	z-index: 2;
	transition: .01s .23s ease-out all;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 55%;
		background: #DFDFDF;
		z-index: -1;
		transition: .3s ease-in all;
	}
	&:after {
		content: '';
		position: absolute;
		left: -5%;
		top: 5%;
		height: 90%;
		width: 5%;
		background:$white;
		z-index: -1;
		transition: .4s .02s ease-in all;
	}
	&:hover {
		cursor: pointer;
		color: transparent;
		&:before {
			left: 100%;
			width: 25%;
		}
		&:after {
			left: 100%;
			width: 70%;
		}
		.smm-info__block-btn-right.btn-right-after:after {
			left: -80px;
			color:$black;
			transition: .2s .2s ease all;
		}
		.smm-info__block-btn-right.btn-right-after:before {
			left: -142px;
            top: 19px;
			opacity: 0.5;
			color: $black;
            text-align: center;
		}
	}
}
.smm-info__block-btn-right {
	position: absolute;
	top: 0;
	right: 0;
	&:after {
		font-family: "FontAwesome";
		content: '\2192';
		font-size: 15px;
		display: inline-block;
		position: relative;
		top: 26px;
		transform: translate3D(0, -50%, 0);
	}
	&.btn-right-after:after {
		left: -250px;
		color: black;
		transition: .15s .25s ease left, .5s .05s ease color;
	}
	&.btn-right-after:before {
		content: '';
		position: absolute;
		left: -230px;
		top: 14px;
		opacity: 0;
		transition: .2s ease-in all;
	}
}