@media (max-height: 660px) {
    .smm-header__container {
        top: 23%;
    }
}
@media (max-height: 600px) {
    .smm-header__info-btn-container {
        margin-top: 45px;
    }
}
@media (max-height: 550px) {
    .smm-header__info-title {
        height: 110px;
    }
}
@media (max-height: 580px) {
    .smm-header__info-title {
        height: 70px;
    }
}





@media (max-width: 1400px) {
    .smm-header__container {
        width: 1040px;
    }
    .smm-info__table::after {
        top: 108px;
        left: 643px;
    }
    .smm-info__table::before {
        top: 100px;
        left: 635px;
    }
}
@media (max-width: 1380px) {
    .smm-info__table::before {
        top: 100px;
        left: 619px;
    }
    .smm-info__table::after {
        top: 108px;
        left: 627px;
    }
    .smm-header__container {
        width: 1010px;
    }
    .smm-new__text {
        margin-left: 30px;
    }
}
@media (max-width: 1350px) {
    .smm-info__table::after {
        top: 108px;
        left: 611px;
    }
    .smm-info__table::before {
        top: 100px;
        left: 603px;
    }
    .smm-header__container {
        width: 980px;
    }
    .smm-info__block-text-item {
        width: 390px;
        height: 100%;
    }
    .smm-new__slide-container {
        width: 660px;
    }
    .smm-people__slide-block {
        padding: 0 0 0 90px;
    }
}
@media (max-width: 1330px) {
    .smm-info__table::after {
        top: 108px;
        left: 588px;
    }
    .smm-info__table::before {
        top: 100px;
        left: 580px;
    }
    .smm-header__container {
        width: 940px;
    }
}
@media (max-width: 1250px) {
    .smm-footer__info-sections {
        margin: 38px 180px 0 0;
    }
    .smm-footer__add-phone {
        margin-right: 70px;
    }
    .smm-new__slide-container {
        width: 540px;
    }
    .smm-people__slide-block {
        padding: 0;
    }
    .smm-people__text-controls {
        position: absolute;
        top: 500px;
        left: 30px;
    }
    .smm-info__table-item-text {
        margin: 1px 75px 38px 70px;
    }
    .smm-info__table-item-title {
        margin: 37px 0 0 70px;
    }
    .smm-info__table-item-3::before {
        left: -120px;
    }
    .smm-info__table-item-3::after {
        left: -114px;
    }
    .smm-info__table::before {
        top: 100px;
        left: 557px;
    }
    .smm-info__table::after {
        top: 108px;
        left: 565px;
    }
    .smm-info__block-text-item {
        width: 320px;
        height: 100%;
    }
    .smm-info__block-text-title {
        font-size: 26px;
        line-height: 39px;
    }
    .smm-header__container {
        width: 880px;
    }
}
@media (max-width: 1230px) {
    .smm-info__table::before {
        top: 100px;
        left: 543px;
    }
    .smm-info__table::after {
        top: 108px;
        left: 551px;
    }
    .smm-info__block {
        flex-direction: column;
    }
    .smm-info__block-btn {
        margin-top: 68px;
        margin-bottom: 50px;
    }
    .smm-info__block-image {
        margin-bottom: 105px;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .smm-info__block-image img {
        width: 100%;
        height: 100%;
    }
    .smm-info__block-image::after {
        top: 40px;
        left: 80px;
        width: 602px;
        height: 580px;
    }
    .smm-header__container {
        width: 870px;
    }
}
@media (max-width: 1200px) {
    .smm-header__container {
        width: 830px;
    }
    .smm-info__table::before {
        top: 100px;
        left: 531px;
    }
    .smm-info__table::after {
        top: 108px;
        left: 539px;
    }
    .smm-new__slide-container {
        width: 480px;
    }
    .smm-footer__info-sections {
        margin: 38px 150px 0 0;
    }
    .smm-footer__add-phone {
        margin-right: 50px;
    }
    .smm-info__table-item-text {
        margin: 1px 45px 38px 70px;
    }
}
@media (max-width: 1180px) {
    .smm-info__table::before {
        top: 100px;
        left: 516px;
    }
    .smm-info__table::after {
        top: 108px;
        left: 524px;
    }
}
@media (max-width: 1150px) {
    .smm-header__container {
        width: 780px;
    }
    .smm-info__block-image::after {
        top: 40px;
        left: 50px;
    }
    .smm-info__table::before {
        top: 100px;
        left: 510px;
    }
    .smm-info__table::after {
        top: 108px;
        left: 518px;
    }
    .smm-people__slide-title {
        width: 400px;
        font-size: 27px;
        line-height: 42px;
    }
    .smm-new {
        & .container {
            padding: 0;
        }
    }
}
@media (max-width: 1130px) {
    .smm-info__table::before {
        top: 100px;
        left: 492px;
    }
    .smm-info__table::after {
        top: 108px;
        left: 500px;
    }
    .smm-info__table-item-title {
        margin: 37px 0 0 55px;
    }
    .smm-info__table-item-text {
        margin: 1px 45px 38px 55px;
    }
}
@media (max-width: 1100px) {
    .smm-info__table-block {
        flex-direction: column;
        align-items: flex-start;
    }
    .smm-info__table-item {
        margin-left: 0;
    }
    .smm-info__table::before {
        display: none;
    }
    .smm-info__table::after {
        display: none;
    }
    .smm-info__table-item:last-child {
        border-right: 1px solid #dc4139;
        margin-left: 0;
        margin-right: 0;
    }
    .smm-info__table-item {
        width: 100%;
    }
    .smm-info__table-item:nth-child(1) {
        border-right: 1px solid #dc4139;
        border-bottom: 1px solid #dc4139;
    }
    .smm-info__table-item-title {
        margin: 37px 0 0 70px;
    }
    .smm-info__table-item-text {
        margin: 1px 45px 38px 70px;
        width: 100%;
        height: 50px;
    }
    .smm-info__table-item-2::before {
        top: 36px;
        left: -51px;
    }
    .smm-info__table-item-2::after {
        top: 42px;
        left: -45px;
    }
    .smm-info__table-item-4::before {
        top: 0;
        left: -118px;
    }
    .smm-info__table-item-4::after {
        top: 6px;
        left: -112px;
    }
    .smm-people__slide-text {
        width: 325px;
    }
    .smm-info__block-image::after {
        top: 40px;
        left: 30px;
    }
    .smm-header__container {
        width: 740px;
    }
    .smm-header__info-title {
        width: 100%;
        font-size: 53px;
    }
}
@media (max-width: 1080px) {
    .smm-info__block-image::after {
        top: 40px;
        left: 10px;
    }
    .smm-header__container {
        width: 720px;
    }
}
@media (max-width: 1050px) {
    .smm-footer__block {
        padding: 65px 0 30px 0;
    }
    .smm-header__nav {
        padding: 0 90px;
        background-color: #000;
        & rect {
            fill: $black;
        }
    }
    .smm-header {
        padding: 0;
        & .container {
            padding: 0;
        }
    }
    .smm-header__menu-geo {
        opacity: 0;
    }
    .smm-header__menu-item::before {
        border-top: 1px solid #fff;
    }
    .smm-header__menu-item::after {
        border-top: 1px solid #fff;
    }
    .smm-header__container {
        left: 0;
        top: 30%;
        transform: translate(0%, 0%);
        padding: 0 180px;
    }
    .smm-header__search {
        display: none;
    }
    .smm-people__text-controls {
        position: absolute;
        top: 550px;
        left: 30px;
    }
    .smm-price__block-list {
        flex-direction: column;
    }
    .smm-price__block-item:nth-child(1) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .smm-price__block-item:nth-child(2) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .smm-price__block-item:nth-child(2) {
        max-width: 100%;
        max-height: 100%;
    }
    .smm-price__block-item:nth-child(3) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .smm-price__block-item:nth-child(1) {
        border-right: none;
        border-left: none;
        margin: 0;
        padding: 0 10px;
    }
    .smm-price__block-item:nth-child(2) {
        margin: 0;
        padding: 0 10px;
    }
    .smm-price__block-item:nth-child(3) {
        border-right: none;
        border-left: none;
        margin: 0;
        padding: 0 10px;
    }
    .smm-price__block-item {
        height: 100%;
    }
    .smm-price__block-price {
        display: none;
    }
    .smm-price__block-add {
        display: none;
    }
    .smm-price__block-media {
        display: flex;
    }
    .smm-price__block-text {
        text-align: left;
        width: 450px;
        height: 150px;
        margin-top: 20px;
        display: flex;
        align-items: center;
    }
    .smm-price__block-key {
        margin-top: 0;
    }
    .smm-price__block-price-media {
        margin-top: 0;
    }
    .smm-price__block-item:nth-child(2) {
        & .smm-price__block-price-media {
            color: #fff;
        }
        & .smm-price__block-add-media {
            color: #fff;
        }
    }
    .smm-price__block-item:nth-child(2) .smm-price__block-key {
        margin-top: 0;
    }
    .smm-price__block-item:nth-child(2) .smm-price__block-text {
        margin-top: 20px;
    }
    .smm-info__block-image::after {
        top: 40px;
        left: 0;
    }
    .smm-price__block-item {
        border-right: none;
    }
}
@media (max-width: 1030px) {
    .smm-info__block-image::after {
        top: 40px;
        left: -10px;
    }
    .smm-people__slide-image img {
        height: 100%;
        width: 100%;
        position: absolute;
    }
    .smm-people__slide-image {
        width: 355px;
        height: 355px;
    }
}
@media (max-width: 1000px) {
    .smm-people__slide-image {
        width: 355px;
        height: 355px;
    }
    .smm-people__slide-title {
        width: 300px;
        font-size: 24px;
    }
    .smm-info__block-image::after {
        top: 40px;
        left: -40px;
    }
    .smm-new .container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .smm-new__text {
        margin-left: 0;
        margin-bottom: 70px;
    }
    .smm-new__text-controls .swiper-controls-seo {
        top: 445px;
        left: 10px;
    }
    .smm-new {
        position: relative;
        padding: 210px 90px 155px 90px;
    }
    .smm-info__block {
        padding: 0;
    }
    .smm-header__container {
        padding: 0 0 0 90px;
    }
    .smm-info__block-image {
        justify-content: flex-start;
    }
}
@media (max-width: 950px) {
    .peopleSMM .swiper-slide {
        padding: 0;
    }
    .smm-people__text-controls {
        position: absolute;
        top: 550px;
        left: 0;
    }
    .smm-footer__info-sections {
        margin: 38px 45px 0 0;
    }
    .smm-footer__info-phone {
        margin-top: 38px;
        margin-right: 110px;
    }
    .smm-price__block-key {
        font-size: 14px;
    }
    .smm-price__block-price-media {
        font-size: 23px;
    }
    .smm-price__block-add-media {
        font-size: 17px;
    }
    .smm-price__block-text {
        font-size: 13px;
    }
}
@media (max-width: 900px) {
    .smm-price .container {
        padding: 0 28px;
    }
    .smm-price__block-item:nth-child(2) {
        margin: 0;
        padding: 0 28px;
    }
    .smm-header__info-title {
        font-size: 48px;
    }
    .smm-header__info-title span {
        font-size: 48px;
    }
    .smm-header__nav {
        padding: 0 28px;
        background-color: #000;
    }
    .smm-people__slide-name::after {
        display: none;
    }
    .smm-people__slide-text {
        width: 270px;
    }
    .smm-people__slide-image {
        margin-right: 30px;
    }
}
@media (max-width: 850px) {
    .smm-price__block-text {
        width: 430px;
    }
    .smm-people__slide-image {
        display: none;
    }
    .smm-people__slide-text {
        display: none;
    }
    .smm-people__slide-media {
        display: block;
    }
    .peopleSMM .swiper-slide {
        flex-direction: column;
        align-items: flex-start;
    }
    .smm-people__slide-block {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
    .smm-people {
        width: 100%;
        height: 480px;
        background: #0d0d0d;
    }
    .smm-people__text-controls {
        top: 375px;
    }
}
@media (max-width: 800px) {
    .smm-price__block-text {
        width: 400px;
    }
    .smm-price__block-text {
        font-size: 12px;
    }
    .smm-header__container {
        width: 100%;
    }
    .smm-info__table-item-text {
        margin: 1px 45px 38px 70px;
        width: 85%;
        height: 100px;
    }
    .smm-footer__info {
        flex-direction: column;
    }
    .smm-footer__info-item {
        &:last-child {
            display: none;
        }
        &:nth-child(2) {
            margin-top: 30px;
        }
    }
    .smm-footer__add-phone {
        display: none;
    }
    .smm-footer__add-sections a {
        margin: 0 5px 0 0;
    }
}
@media (max-width: 750px) {
    .smm-footer .container {
        padding: 0 28px;
    }
    .smm-new {
        padding: 210px 0 155px 28px;
    }
    .smm-people .container {
        padding: 0 28px;
    }
    .smm-info__table {
        padding: 0 28px 0 50px;
    }
    .smm-info .container {
        padding: 0 28px;
    }
    .smm-info__block-image::after {
        display: none;
    }
    .smm-header__container {
        padding: 0 0 0 28px;
    }
    .smm-price__block-key {
        font-size: 9px;
    }
    .smm-price__block-price-media {
        font-size: 17px;
    }
    .smm-price__block-text {
        font-size: 10px;
    }
    .smm-price__block-text {
        width: 350px;
    }
    .smm-price__text-item {
        width: 100%;
    }
    .smm-header__info-title {
        font-size: 42px;
    }
    .smm-header__info-title span {
        font-size: 42px;
    }
    .smm-price__block-item:nth-child(2) {
        margin: 0;
        padding: 0 8px;
    }
}
@media (max-width: 600px) {
    .smm-price__block-text {
        width: 270px;
    }
    .smm-header__info-title {
        font-size: 28px;
        line-height: 0;
    }
    .smm-header__info-title span {
        font-size: 28px;
    }
}
@media (max-width: 550px) {
    .smm-price__block-text {
        width: 215px;
    }
    .smm-people__slide-title {
        width: 222px;
        font-size: 18px;
    }
    .smm-people__slide-text-media {
        width: 330px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        color: #fff;
        margin-top: 20px;
    }
    .smm-new__slide-container {
        width: 380px;
    }
    .smm-price__text-title {
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 47px;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: #000;
        margin-top: 36px;
    }
}
@media (max-width: 500px) {
    .smm-info__table-item-text {
        margin: 1px 45px 38px 70px;
        width: 70%;
        height: 100px;
    }
}
@media (max-width: 450px) {
    .smm-price__block-text {
        width: 160px;
    }
    .smm-people__slide-name {
        margin-top: 85px;
        width: 50%;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 46px;
        letter-spacing: .01em;
        text-transform: uppercase;
        color: #fff;
        position: relative;
    }
}
@media (max-width: 430px) {
    .smm-header__info-title {
        font-size: 23px;
        line-height: 0;
    }
    .smm-header__info-title span{
        font-size: 23px;
        line-height: 2;
    }
    .smm-price__block-item:nth-child(2) {
        margin: 0;
        padding: 0 8px;
    }
    .smm-new__slide-text {
        margin-top: 20px;
        width: 268px;
        height: 99px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 33px;
        letter-spacing: .01em;
        text-transform: uppercase;
        color: #fff;
    }
    .smm-new__slide-container {
        width: 335px;
    }
}
@media (max-width: 400px) {
    .smm-price__block-text {
        width: 121px;
    }
    .smm-price__block-text {
        width: 215px;
    }
    .smm-price__block-text {
        font-size: 9px;
    }
}