.seo-audit {
    position: relative;
    padding: 152px 0 0 0;
    &__block {
        max-width: 1440px;
        margin: 0 auto;
        width: 100%;
        height: 100%;
        padding: 0 180px;
        display: flex;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        flex-direction: column;
        &-item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 150px;
            width: 520px;
            &:nth-child(1) {
                border-top: 1px solid #949494;
            }
            border-bottom: 1px solid #949494;
        }
        &-block {
            display: flex;
            flex-direction: column;
            margin-left: 42px;
        }
        &-number {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
            &::after {
                content: "";
                width: 89px;
                height: 89px;
                border: 1px solid #DC4139;
                border-radius: 50%;
            }
            &::before {
                content: "";
                position: absolute;
                top: 10px;
                left: 10px;
                width: 69px;
                height: 69px;
                background: #DC4139;
                box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
            }
        }
        &-title {
            height: 46px;
            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 46px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #000000;
        }
        &-text {
            height: 50px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #535353;
        }
    }
    &__text {
        &-add {
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            letter-spacing: 0.01em;
            color: #9C9C9C;
            margin-top: 60px;
            position: relative;
            &::after {
                content: "/  00-1  /";
                white-space: pre;
                position: absolute;
                top: -59px;
                left: 0;
                width: 25px;
                height: 18px;
                font-family: Circe;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #9C9C9C;
            }
            &::before {
                content: "digital агентство";
                position: absolute;
                top: 5px;
                left: 215px;
                width: 89px;
                height: 18px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.01em;
                color: #9C9C9C;
            }
        }
        &-title {
            width: 360px;
            height: 110px;
            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 55px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: #505050;
            margin-top: 54px;
            & span {
                color: #DC4139;
            }
        }
        &-item {
            width: 426px;
            height: 78px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 26px;
            color: #535353;
            margin-top: 54px;
        }
        &-btn {
            &-container {
                margin-top: 75px;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 97px;
                    height: 47px;
                    border: 1px solid #dc4139;
                    top: 15px;
                    left: -23px;
                }
            }
        }
    }
    &__banner {
        width: 100%;
        height: 244px;
        background: #000;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 146px;
        &-text {
            width: 100%;
            text-align: center;
            height: 55px;
            font-family: Circe;
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 55px;
            letter-spacing: 0.12em;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: #FFFFFF;
        }
        &-add {
            width: 145px;
            height: 29px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 17px;
            line-height: 29px;
            text-align: center;
            letter-spacing: 0.01em;
            color: #9C9C9C;
            margin-bottom: 16px;
        }
    }
}


// Button
button.seo-audit__text-btn {
    font-family: Circe;
	letter-spacing: 1px;
	background: none;
	color: $black;
	position: relative;
	outline: none;
	border: none;
	height: 50px;
	width: 190px;
	font-size: 12px;
	z-index: 2;
	transition: .01s .23s ease-out all;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 55%;
		background: #DFDFDF;
		z-index: -1;
		transition: .3s ease-in all;
	}
	&:after {
		content: '';
		position: absolute;
		left: -5%;
		top: 5%;
		height: 90%;
		width: 5%;
		background:$white;
		z-index: -1;
		transition: .4s .02s ease-in all;
	}
	&:hover {
		cursor: pointer;
		color: transparent;
		&:before {
			left: 100%;
			width: 25%;
		}
		&:after {
			left: 100%;
			width: 70%;
		}
		.seo-audit__text-btn-right.btn-right-after:after {
			left: -80px;
			color:$black;
			transition: .2s .2s ease all;
		}
		.seo-audit__text-btn-right.btn-right-after:before {
			left: -142px;
            top: 19px;
			opacity: 0.5;
			color: $black;
            text-align: center;
		}
	}
}
.seo-audit__text-btn-right {
	position: absolute;
	top: 0;
	right: 0;
	&:after {
		font-family: "FontAwesome";
		content: '\2192';
		font-size: 15px;
		display: inline-block;
		position: relative;
		top: 26px;
		transform: translate3D(0, -50%, 0);
	}
	&.btn-right-after:after {
		left: -250px;
		color: black;
		transition: .15s .25s ease left, .5s .05s ease color;
	}
	&.btn-right-after:before {
		content: '';
		position: absolute;
		left: -230px;
		top: 14px;
		opacity: 0;
		transition: .2s ease-in all;
	}
}