// Info 
.info {
    padding: 113px 0px 0px 0px;
    width: 100%;
    z-index: 1;
    position: relative;
    &__container {
        display: flex;
        justify-content: space-between;
        padding: 120px 90px 0 90px;
        border-bottom: 1px solid $gray-94;
    }
    &__text {
        &-btn {
            &-container {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 97px;
                    height: 47px;
                    border: 1px solid #dc4139;
                    top: 15px;
                    left: -23px;
                }
            }
        }
        &-title {
            width: 375px;
            height: 165px;
            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 55px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: $gray-50;
            margin-bottom: 106px;
            z-index: 5;
        }
        &-number {
            height: 18px;
            width: 55px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 59px;
            &-slash {
                font-family: Circe;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: $gray-C9;
            }
            &-one {
                font-family: Circe;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: $gray-C9;
            }
        }
        &-block {
            width: 310px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 103px;
        }
        &-question {
            width: 77px;
            height: 29px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            letter-spacing: 0.01em;
            color: $gray-C9;
        }
        &-name {
            width: 89px;
            height: 18px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: $gray-C9;
        }
        &-add {
            margin-bottom: 191px;
            & p {
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                color: $gray-50;
            }
        }
    }
    &__image {
        z-index: 5;
        &-container  {
            width: 395px;
            height: 248px;
            background: $white-F2;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-item {
            width: 299px;
            height: 183px;
        }
    }
    &__stats {
        width: 395px;
        margin: 151px 0px 152px 0px;
        &-list {
            display: flex;
            flex-direction: column;
        }
        &-item {
            height: 140px;
            border-top: 1px solid $gray-94;
            display: flex;
            align-items: center;
            justify-content: center;
            &:last-child {
                border-bottom: 1px solid $gray-94;
            }
        }
        &-title {
            width: 135px;
            height: 22px;
            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 22px;
            text-decoration-line: underline;
            text-transform: uppercase;
            color: $black-21;
        }
        &-circle {
            width: 90px;
            height: 90px;
            border: 1px dashed $gray-3D;
            border-radius: 50%;
            margin-right: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    &__media {
        display: none;
        &-title {
            display: none;
            width: 375px;
            height: 165px;
            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 55px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: $gray-50;
            margin-bottom: 106px;
            z-index: 5;
        }
    }
}
// Button
button.info__text-btn {
	font-family: Circe;
	letter-spacing: 1px;
	background: none;
	color: $black;
	position: relative;
	outline: none;
	border: none;
	height: 50px;
	width: 190px;
	font-size: 12px;
	z-index: 2;
	transition: .01s .23s ease-out all;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 55%;
		background: #DFDFDF;
		z-index: -1;
		transition: .3s ease-in all;
	}
	&:after {
		content: '';
		position: absolute;
		left: -5%;
		top: 5%;
		height: 90%;
		width: 5%;
		background:$white;
		z-index: -1;
		transition: .4s .02s ease-in all;
	}
	&:hover {
		cursor: pointer;
		color: transparent;
		&:before {
			left: 100%;
			width: 25%;
		}
		&:after {
			left: 100%;
			width: 70%;
		}
		.info__text-btn-right.btn-right-after:after {
			left: -80px;
			color:$black;
			transition: .2s .2s ease all;
		}
		.info__text-btn-right.btn-right-after:before {
			left: -132px;
            top: 19px;
			opacity: 0.5;
			color: $black;
            text-align: center;
		}
	}
}

.info__text-btn-right {
	position: absolute;
	top: 0;
	right: 0;
	&:after {
		font-family: "FontAwesome";
		content: '\2192';
		font-size: 24px;
		display: inline-block;
		position: relative;
		top: 26px;
		transform: translate3D(0, -50%, 0);
	}
	&.btn-right-after:after {
		left: -250px;
		color: black;
		transition: .15s .25s ease left, .5s .05s ease color;
	}
	&.btn-right-after:before {
		content: '';
		position: absolute;
		left: -230px;
		top: 14px;
		opacity: 0;
		transition: .2s ease-in all;
	}
}

