// Info 
.info {
    padding: 113px 0px 0px 0px;
    width: 100%;
    z-index: 1;
    position: relative;
    &__container {
        max-width: 1440px;
        margin:  0 auto;
        display: flex;
        justify-content: space-between;
        padding: 120px 90px 0 90px;
    }
    &__text {
        &-btn {
            &-container {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    width: 97px;
                    height: 47px;
                    border: 1px solid #dc4139;
                    top: 15px;
                    left: -23px;
                }
            }
        }
        &-title {
            width: 375px;
            height: 165px;
            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 55px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: $gray-50;
            margin-bottom: 106px;
            z-index: 5;
            & span {
                color: #dc4139;
            }
        }
        &-number {
            height: 18px;
            width: 55px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 59px;
            &-slash {
                font-family: Circe;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: $gray-C9;
            }
            &-one {
                font-family: Circe;
                font-style: normal;
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: $gray-C9;
            }
        }
        &-block {
            width: 310px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 103px;
        }
        &-question {
            width: 77px;
            height: 29px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 29px;
            letter-spacing: 0.01em;
            color: $gray-C9;
        }
        &-name {
            width: 89px;
            height: 18px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 18px;
            letter-spacing: 0.01em;
            color: $gray-C9;
        }
        &-add {
            margin-bottom: 191px;
            & p {
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 20px;
                color: $gray-50;
            }
        }
    }
    &__image {
        z-index: 5;
        &-container  {
            width: 536px;
            height: 313px;
            background: #F45E5F;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &-item {
            width: 299px;
            height: 183px;
        }
    }
    &__stats {
        width: 100%;
        margin: 151px 0px 0 0px;
        &-block {
            display: flex;
            flex-direction: column;
        }
        &-list {
            display: flex;
            flex-direction: column;
        }
        &-item {
            height: 140px;
            border-top: 1px solid #dc4139;
            display: flex;
            align-items: center;
            justify-content: space-between;
            &:last-child {
                border-bottom: 1px solid #dc4139;
            }
        }
        &-title {
            height: 46px;
            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 17px;
            line-height: 46px;
            letter-spacing: 0.01em;
            text-transform: uppercase;
            color: #000000;
        }
        &-text {
            width: 359px;
            height: 50px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 25px;
            color: #535353;
        }
        &-circle {
            width: 90px;
            height: 90px;
            border: 1px solid #dc4139;
            border-radius: 50%;
            margin-right: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 50px;
            &-item {
                width: 69px;
                height: 69px;
                background: #DC4139;
                box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
                border-radius: 50%;
            }
        }
    }
    &__media {
        display: none;
        &-title {
            display: none;
            width: 375px;
            height: 165px;
            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 30px;
            line-height: 55px;
            letter-spacing: 0.12em;
            text-transform: uppercase;
            color: $gray-50;
            margin-bottom: 106px;
            z-index: 5;
        }
    }
}
// Button
button.info__text-btn {
	font-family: Circe;
	letter-spacing: 1px;
	background: none;
	color: $black;
	position: relative;
	outline: none;
	border: none;
	height: 50px;
	width: 190px;
	font-size: 12px;
	z-index: 2;
	transition: .01s .23s ease-out all;
	overflow: hidden;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 55%;
		background: #DFDFDF;
		z-index: -1;
		transition: .3s ease-in all;
	}
	&:after {
		content: '';
		position: absolute;
		left: -5%;
		top: 5%;
		height: 90%;
		width: 5%;
		background:$white;
		z-index: -1;
		transition: .4s .02s ease-in all;
	}
	&:hover {
		cursor: pointer;
		color: transparent;
		&:before {
			left: 100%;
			width: 25%;
		}
		&:after {
			left: 100%;
			width: 70%;
		}
		.info__text-btn-right.btn-right-after:after {
			left: -80px;
			color:$black;
			transition: .2s .2s ease all;
		}
		.info__text-btn-right.btn-right-after:before {
			left: -132px;
            top: 19px;
			opacity: 0.5;
			color: $black;
            text-align: center;
		}
	}
}

.info__text-btn-right {
	position: absolute;
	top: 0;
	right: 0;
	&:after {
		font-family: "FontAwesome";
		content: '\2192';
		font-size: 24px;
		display: inline-block;
		position: relative;
		top: 26px;
		transform: translate3D(0, -50%, 0);
	}
	&.btn-right-after:after {
		left: -250px;
		color: black;
		transition: .15s .25s ease left, .5s .05s ease color;
	}
	&.btn-right-after:before {
		content: '';
		position: absolute;
		left: -230px;
		top: 14px;
		opacity: 0;
		transition: .2s ease-in all;
	}
}

.infoImage .swiper-container {
    width: 100%;
    height: 500px;
    z-index: 0;
  }
  .infoImage .swiper-slide {
    font-size: 18px;
    background: #DC4139;
    display: flex;
    flex-direction: column;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .info__stats-img-controls {
      position: relative;
  }
  .info__stats-img-controls .swiper-controls {
    position: absolute;
    top: 40px;
    left: 170px;
    width: 200px;
    height: 30px;
    margin-left: auto;
    padding: 30px 0 10px 0;
    z-index: 0;
  }
  .info__stats-img-controls .swiper-controls .swiper-button-next::after {
    content: "⟶";
    font-size: 60px;
    color: black;
  }
  .info__stats-img-controls .swiper-controls .swiper-button-prev::after {
    content: "⟵";
    font-size: 60px;
    color: black;
  }
  .info__stats-img-controls .swiper-controls .swiper-button-next::after {
    content: "⟶";
    font-size: 60px;
    color: #DC4139;
}