
@media (max-height: 930px) {
    .header__info-btn-container {
        margin-top: 35px;
    }
}







@media (max-height: 1500px) {
    .header__media {
        margin-top: 46px;
    }
}
@media (max-height: 1000px) {
    .header__info-btn-container {
        margin-top: 67px;
    }
}
@media (max-height: 950px) {
    .header__info-btn-container {
        margin-top: 67px;
    }
}
@media (max-height: 900px) {
    .header__image-title {
        height: 94px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
    }
    .header__image-title {
        margin-top: 44px;
    }
    .header__info-text {
        margin-top: 77px;
    }
    .header__media {
        margin-bottom: 46px;
        margin-top: 46px;
    }
}
@media (max-height: 850px) {
    .header__container {
        padding-top: 40px;
    }
}
@media (max-height: 800px) {
    .header__container {
        padding-top: 20px;
    }
    .header__btn-container {
        display: none;
    }
    .header__search {
        padding-bottom: 30px;
    }
}





@media (max-height: 710px) {
    .header__info-title {
        margin-top: 20px;
    }
    .header__info-text {
        margin-top: 40px;
    }
    .header__info-btn-container {
        margin-top: 55px;
    }
    .header__info-add {
        margin-top: 40px;
    }
}










@media (max-width: 1505px) {
    .team__block-img {
        overflow: hidden;
    }
}
@media (max-width: 1440px) {
    .skills__container {
        width: 100%;
    }
    .case__text {
        padding: 93px 90px 0 90px;
    }
    .skills__text {
        padding: 100px 180px 105px 180px;
    }
    label.skill__tab:nth-child(1) {
        padding: 20px 40px 20px 180px;
    }
    .skills__container {
        padding: 0;
    }
}
@media (max-width: 1430px) {
    .team__block-img {
        display: none;
    }
}
@media (max-width: 1350px) {
    .skill__tab-form {
        padding: 0px 180px;
    }
    .header__container {
        width: 985px;
    }
}
@media (max-width: 1300px) {
    .footer__info-sections {
        margin: 38px 200px 0 0;
    }
    .footer__add-phone {
        margin-right: 90px;
    }
    .skills__list-item {
        width: 465px;
    }
    .skills__title {
        width: 949px;
        font-size: 25px;
    }
    .header__container {
        width: 945px;
    }
}
@media (max-width: 1250px) {
    .header__container {
        width: 980px;
    }
    .header__container {
        width: 895px;
    }
    .header__info-title {
        width: 434px;
        font-size: 55px;
    }
}
@media (max-width: 1200px) {
    .skills__title {
        font-size: 28px;
    }
    .footer__info-sections {
        margin: 38px 150px 0 0;
    }
    .footer__add-phone {
        margin-right: 40px;
    }
    .header__container {
        width: 845px;
    }
    .skill__tab-form {
        padding: 0 180px;
    }
    .skills__title {
        font-size: 23px;
        width: 839px;
    }
    .skills__list-item {
        width: 410px;
    }
    .line__list {
        width: 131%;
    }
}
@media (max-width: 1150px) {
    .header__container {
        width: 795px;
    }
    .skill__tab-form {
        padding: 0 180px;
    }
    .header__info-title {
        width: 410px;
    }
    .line__list {
        width: 135%;
    }
    .info__text-title {
        font-size: 26px;
    }
    .skills__title {
        font-size: 26px;
    }
    label.skill__tab:nth-child(1) {
        padding: 20px 40px 20px 180px;
    }
    label.skill__tab:nth-child(4) {
        padding: 20px 53px 20px 40px;
    }
    .skills__title {
        font-size: 19px;
        width: 790px;
    }
    .header__info-title {
        font-size: 50px;
    }
    .footer__info-sections {
        margin: 38px 120px 0 0;
    }
    .footer__add-phone {
        margin-right: 20px;
    }
    .skills__list-item {
        width: 380px;
    }
}
@media (max-width: 1100px) {
    .line__list {
        width: 145%;
    }
    .info__container {
        padding: 120px 45px 0 45px;
    }
    label.skill__tab:nth-child(1) {
        padding: 20px 40px 20px 180px;
    }
    label.skill__tab:nth-child(4) {
        padding: 20px 31px 20px 35px;
    }
    label.skill__tab {
        font-size: 18px;
    }
    .skills__list-item {
        width: 360px;
    }
    .skills__title {
        width: 100%;
        font-size: 19px;
    }
    .footer__info-sections {
        margin: 38px 100px 0 0;
    }
    .footer__add-phone {
        margin-right: 0;
    }
}
@media (max-width: 1050px) {
    .skills__tabs {
        display: none;
    }
    .info__stats {
        margin: 151px 0 50px 0;
    }
    .header__info-btn-container::after {
        display: none;
    }
    .header__menu-item {
        color: #000;
    }
    .line__list {
        width: 155%;
    }
    button.skills__info-btn {
        margin-top: 0;
    }
    .info__container {
        padding: 120px 28px 0 28px;
    }
    label.tab:nth-child(1) {
        padding: 20px 40px 20px 45px;
    }
    .skills__list-item {
        width: 470px;
    }
    .skills__title {
        width: 100%;
        font-size: 23px;
    }
    .stories__list-item {
        height: 140px;
    }
    .stories__list-text {
        height: 70px;
    }
    .header__container {
        position: static;
        transform: translate(0%, 0%);
        height: 100%;
        padding: 90px 0 0px 350px;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
    }
    .header__info-add {
        display: none;
    }
    .header__info-title {
        display: none;
    }
    .header__search {
        display: none;
    }
    .header__image-add {
        display: block;
    }
    .header__image-title {
        display: block;
    }
    .header__image {
        width: 300px;
        height: 300px;
        margin-top: 64px;
    }
    .header__image-fon {
        height: 300px;
    }
    .header__image-item {
        width: 300px;
        height: 300px;
    }
    .header__image-fon {
        width: 300px;
        height: 300px;
    }
    .header {
        height: 100%;
        padding: 0 0 39px 0;
        & rect {
            fill: #000;
        }
        & .container {
            padding: 0;
        }
    }
    .header__nav {
        padding: 12px 28px;
        background: #000;
    }
    .header__menu-geo {
        display: none;
    }
    .header__menu {
        justify-content: flex-end;
    }
    .header__menu-item {
        &::after {
            border-top: 1px solid #fff;
        }
        &::before {
            border-top: 1px solid #fff;
        }
    }
    .header__image-item {
        top: -42px;
        left: -5px;
    }
    .header__image-title {
        margin-top: 44px;
        font-size: 50px;
    }
    .header__info-text {
        font-size: 18px;
        width: 350px;
    }
    button.header__info-btn {
        height: 60px;
        width: 200px;
    }
    .header__info-btn-container::before{
        top: 27px;
    }
    .header__info-btn-right:after {
        top: 35px;
    }
    button.header__info-btn:hover .header__info-btn-right.btn-right-after:before {
        top: 26px;
    }
    .info__container {
        flex-direction: column-reverse;
        padding: 120px 0 130px 153px;
        border-bottom: none;
    }
    .info__stats-item {
        width: 700px;
    }
    .info__stats-block {
        margin-right: 90px;
    }
    .info__image-container {
        width: 700px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 240px;
    }
    .case {
        border-top: 1px solid #949494;
    }
    .info {
        & .container {
            padding: 0px 28px;
        }
    }
    .info__text-title {
        display: none;
    }
    .info__media-title {
        display: block;
        font-size: 25px;
    }
    .case__image-title {
        padding: 412px 28px 0px 28px;
    }
    .case__lists {
        flex-direction: column;
    }
    .case__lists-item-1 {
        width: 100%;
        background-position: 50% 50%;
        height: 430px;
        &::after {
            display: block;
            left: 28px;
        }
    }
    .case__lists-item-2 {
        width: 100%;
        background-position: 50% 50%;
        height: 430px;
        &::after {
            display: block;
            left: 28px;
        }
    }
    .case__lists-item-3 {
        width: 100%;
        background-position: 50% 50%;
        height: 430px;
        &::after {
            display: block;
            left: 28px;
        }
    }
    .case__image {
        height: 647px;
    }
    .skills__text {
        padding: 100px 0 10px 180px;
    }
    .skills__block-title {
        padding: 0px 180px;
        font-size: 20px;
    }
    .skills__block-btn {
        padding: 84px 350px 90px 180px;
    }
    .skills__text-title {
        text-align: left;
    }
    .skills__text-add {
        height: 210px;
        font-size: 25px;
        width: 615px;
    }
    .case {
        & .container {
            padding: 0 0;
        }
    }
    .case__text {
        padding: 93px 0 0 180px;
    }
    .skills__wrapper {
        display: block;
        width: 100%;
        margin: 0;
        max-width: 100%;
    }
    .accordion-item {
        margin: 0;
    }
    .stories {
        & .container {
            padding: 0px 0;
        }
    }
    .stories__text {
        padding: 85px 0 85px 180px;
    }
    .team {
        & .container {
            padding: 0;
        }
    }
    .footer__info-sections {
        margin: 38px 50px 0 0;
    }
    .footer__info-phone {
        margin-right: 50px;
    }
    .stories__list-text {
        width: 500px;
        height: 80px;
        display: flex;
        align-items: center;
    }
    .header__media {
        display: block;
    }
    .skills__block-btn::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 100px;
        left: 157px;
    }
}
@media (max-width: 1000px) {
    .info__container {
        padding: 120px 0 130px 152px;
    }
}
@media (max-width: 950px) {
    .skills__block-btn::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 100px;
        left: 106px;
    }
    .info__container {
        padding: 120px 0 130px 107px;
    }
    .line__list {
        width: 190%;
    }
    .skills__text-add {
        font-size: 20px;
    }
    .footer__block {
        padding: 65px 0 30px 0;
    }
    .skills__text-add {
        width: 500px;
    }
    .header__container {
        padding: 0 327px;
    }
    .case__text {
        padding: 93px 0 0 135px;
    }
    .skills__text {
        padding: 100px 0 10px 135px;
    }
    .skills__block-title {
        padding: 0 135px;
        font-size: 18px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 135px;
    }
    .stories__text {
        padding: 85px 0 85px 135px;
    }
}

@media (max-width: 900px) {
    .skills__block-btn::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 100px;
        left: 107px;
    }
    .info__container {
        padding: 120px 0 130px 107px;
    }
    .info__image-container {
        width: 650px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 220px;
    }
    .info__stats-item {
        width: 650px;
    }
    .line__list {
        width: 190%;
    }
    .skills__text-add {
        font-size: 20px;
    }
    .header__container {
        padding: 0px 278px;
    }
    .case__text {
        padding: 93px 0 0 135px;
    }
    .skills__text {
        padding: 100px 0 10px 135px;
    }
    .skills__block-title {
        padding: 0 135px;
        font-size: 16px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 135px;
    }
    .stories__text {
        padding: 85px 0 85px 135px;
    }
    .stories__list-text {
        width: 470px;
    }
}
@media (max-width: 850px) {
    .header__container {
        padding: 0 240px;
    }
    .info__container {
        padding: 120px 0 130px 68px;
    }
    .case__text {
        padding: 93px 0 0 90px;
    }
    .skills__text {
        padding: 100px 0 10px 90px;
    }
    .skills__block-title {
        padding: 0 90px;
        font-size: 15px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 90px;
    }
    .stories__text {
        padding: 85px 0 85px 90px;
    }
    .stories__list-text {
        margin-left: 85px;
    }
    .skills__block-btn::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 100px;
        left: 67px;
    }
}
@media (max-width: 800px) {
    .header__container {
        padding: 0px 230px;
    }
    .info__container {
        padding: 120px 0 130px 68px;
    }
    .info__image-container {
        width: 600px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 200px;
    }
    .info__stats-item {
        width: 600px;
    }
    .info__stats-block {
        margin-right: 30px;
    }
    .case__text {
        padding: 93px 0 0 90px;
    }
    .skills__text {
        padding: 100px 0 10px 90px;
    }
    .stories__text {
        padding: 85px 0 85px 90px;
    }
    .skills__text-add {
        width: 530px;
    }
    .skills__block-title {
        padding: 0 90px;
        font-size: 15px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 90px;
    }
    .skills__block-btn::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 100px;
        left: 67px;
    }
}
@media (max-width: 750px) {
    .line__list {
        width: 200%;
    }
    .case__text {
        padding: 93px 0 0 90px;
    }
    .skills__text-add {
        width: 485px;
    }
    .stories__list-item {
        flex-direction: column;
        justify-content: flex-start;
    }
    .stories__list-item {
        align-items: flex-start;
        height: 100%;
    }
    .stories__list-logo {
        margin-top: 48px;
        margin-bottom: 69px;
        margin-left: 28px;
    }
    .stories__list-text {
        margin-bottom: 42px;
        justify-content: flex-start;
        margin-left: 28px;
    }
    .footer__info-item:last-child {
        display: none;
    }
    .footer__add-phone {
        display: none;
    }
    .footer__info-phone {
        margin-right: 0;
    }
    .info__container {
        padding: 120px 0 130px 68px;
    }
    .info__image-container {
        width: 550px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 170px;
    }
    .info__stats-circle {
        margin-left: 30px;
    }
    .info__stats-item {
        width: 550px;
    }
    .info__stats-block {
        margin-right: 20px;
    }
    .header__container {
        padding: 0 220px;
    }
}
@media (max-width: 700px) {
    .header__container {
        padding: 0 160px;
    }
    .info__container {
        padding: 120px 0 130px 17px;
    }
    .info__image-container {
        width: 570px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 180px;
    }
    .info__stats-circle {
        margin-left: 30px;
    }
    .info__stats-item {
        width: 570px;
    }
    .case__text {
        padding: 93px 0 0 45px;
    }
    .skills__text {
        padding: 100px 0 10px 45px;
    }
    .stories__text {
        padding: 85px 0 85px 45px;
    }
    .skills__text-add {
        width: 500px;
    }
    .line__list {
        width: 230%;
    }
    .skills__block-title {
        padding: 0 45px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 45px
    }
    .skills__block-btn::before {
        left: 27px;
    }
}
@media (max-width: 650px) {
    .skills__text-add {
        font-size: 16px;
        width: 400px;
    }
    .header__container {
        padding: 0 150px;
    }
    .info__container {
        padding: 120px 0 130px 17px;
    }
    .info__image-container {
        width: 550px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 170px;
    }
    .info__stats-circle {
        margin-left: 30px;
    }
    .info__stats-item {
        width: 550px;
    }
    .case__text {
        padding: 93px 0 0 45px;
    }
    .skills__text {
        padding: 100px 0 10px 45px;
    }
    .stories__text {
        padding: 85px 0 85px 45px;
    }
    .skills__text-add {
        width: 430px;
    }
    .line__list {
        width: 250%;
    }
    .skills__block-title {
        padding: 0 45px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 45px;
    }
    .skills__block-btn::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 100px;
        left: 27px;
    }
}
@media (max-width: 600px) {
    .header__container {
        padding: 0 130px;
    }
    .skills__block-btn::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 100px;
        left: 95px;
    }
    .skills__text-add {
        width: 400px;
    }
    .info__container {
        padding: 120px 0 130px 17px;
    }
    .info__image-container {
        width: 510px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 150px;
    }
    .info__stats-circle {
        margin-left: 10px;
    }
    .info__stats-item {
        width: 510px;
    }
    .info__stats-block {
        width: 65%;
    }
    .info__stats-text {
        width: 100%;
        height: 100%;
        font-size: 14px;
    }
    .case__text {
        padding: 93px 0 0 45px;
    }
    .skills__text {
        padding: 100px 0 10px 45px;
    }
    .stories__text {
        padding: 85px 0 85px 45px;
    }
    .line__list {
        width: 275%;
    }
    .footer__info {
        flex-direction: column;
    }
    .footer__info-item:nth-child(2) {
        margin-top: 61px;
    }
    .footer {
        border-top: 1px solid #949494;
    }
    .footer__container {
        border-top: none;
        margin: 0;
    }
    .skills__block-title {
        padding: 0 45px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 45px;
    }
    .skills__block-btn::before {
        left: 27px;
    }
    .header__image-media {
        width: 300px;
        height: 300px;
        margin-top: 64px;
        position: relative;
        z-index: 5;
        display: block;
    }
    .header__image-item {
        top: -30px;
        left: -5px;
    }
    .header__image-item {
        animation: eye infinite;
        animation-duration: 10s;
        transition: all 0.5s ease;
    }
    @keyframes eye {
        // начальная позиция 
        // left: -5px
        // top: -30px
        0% {
            top: -31px;
        }
        1% {
            top: -32px;
        }
        2% {
            top: -33px;
        }
        3% {
            top: -34px;
        }
        4% {
            top: -35px;
        }
        5% {
            top: -36px;
        }
        6% {
            top: -37px;
        }
        7% {
            top: -38px;
        }
        8% {
            top: -39px;
        }
        9% {
            top: -40px;
        }
        10% {
            top: -41px;
        }
        11% {
            top: -42px;
        }
        12% {
            top: -43px;
        }
        13% {
            top: -45px;
        }
        14% {
            top: -46px;
        }
        15% {
            top: -47px;
        }
        16% {
            top: -48px;
        }
        17% {
            top: -49px;
        }
        18% {
            top: -50px;
        }
        19% {
            top: -51px;
        }
        20% {
            top: -52px;
        }
        21% {
            top: -53px;
        }
        22% {
            top: -54px;
        }
        23% {
            top: -55px;
        }
        24% {
            top: -55px;
        }
        25% {
            top: -55px;
        }
        26% {
            top: -54px;
        }
        27% {
            top: -53px;
        }
        28% {
            top: -52px;
        }
        29% {
            top: -51px;
        }
        30% {
            top: -50px;
        }
        31% {
            top: -49px;
        }
        32% {
            top: -48px;
        }
        33% {
            top: -47px;
        }
        34% {
            top: -46px;
        }
        35% {
            top: -45px;
        }
        36% {
            top: -44px;
        }
        37% {
            top: -43px;
        }
        38% {
            top: -42px;
        }
        39% {
            top: -41px;
        }
        40% {
            top: -40px;
        }
        41% {
            top: -39px;
        }
        42% {
            top: -38px;
        }
        43% {
            top: -37px;
        }
        44% {
            top: -36px;
        }
        45% {
            top: -35px;
        }
        46% {
            top: -34px;
        }
        47% {
            top: -33px;
        }
        48% {
            top: -32px;
        }
        49% {
            top: -31px;
        }
        50% {
            top: -30px;
        }
        51% {
            top: -29px;
        }
        52% {
            top: -28px;
        }
        53% {
            top: -27px;
        }
        54% {
            top: -26px;
        }
        55% {
            top: -25px;
        }
        56% {
            top: -24px;
        }
        57% {
            top: -23px;
        }
        58% {
            top: -22px;
        }
        59% {
            top: -21px;
        }
        60% {
            top: -20px;
        }
        61% {
            top: -21px;
        }
        62% {
            top: -22px;
        }
        63% {
            top: -23px;
        }
        64% {
            top: -24px;
        }
        65% {
            top: -25px;
        }
        66% {
            top: -26px;
        }
        67% {
            top: -27px;
        }
        68% {
            top: -28px;
        }
        69% {
            top: -29px;
        }
        70% {
            top: -30px;
        }
        71% {
            top: -30px;
        }
        72% {
            top: -31px;
            left: -7px;
        }
        73% {
            top: -32px;
            left: -8px;
        }
        74% {
            top: -33px;
            left: -9px;
        }
        75% {
            top: -34px;
            left: -10px;
        }
        76% {
            top: -35px;
            left: -11px;
        }
        77% {
            top: -36px;
            left: -12px;
        }
        78% {
            top: -37px;
            left: -13px;
        }
        79% {
            top: -38px;
            left: -14px;
        }
        80% {
            top: -39px;
            left: -15px;
        }
        81% {
            top: -39px;
            left: -15px;
        }
        82% {
            top: -39px;
            left: -15px;
        }
        83% {
            top: -39px;
            left: -15px;
        }
        84% {
            top: -39px;
            left: -15px;
        }
        85% {
            top: -39px;
            left: -15px;
        }
        86% {
            top: -39px;
            left: -15px;
        }
        87% {
            top: -39px;
            left: -15px;
        }
        88% {
            top: -39px;
            left: -15px;
        }
        89% {
            top: -38px;
            left: -14px;
        }
        90% {
            top: -37px;
            left: -13px;
        }
        91% {
            top: -36px;
            left: -12px;
        }
        92% {
            top: -35px;
            left: -11px;
        }
        93% {
            top: -34px;
            left: -10px;
        }
        94% {
            top: -33px;
            left: -9px;
        }
        95% {
            top: -32px;
            left: -8px;
        }
        96% {
            top: -31px;
            left: -7px;
        }
        97% {
            top: -30px;
            left: -6px;
        }
        98% {
            top: -30px;
            left: -6px;
        }
        99% {
            top: -30px;
            left: -6px;
        }
        100% {
            top: -30px;
            left: -6px;
        }
    }
    .header__image {
        display: none;
    }
}
@media (max-width: 580px) {
    .info__container {
        padding: 120px 0 130px 17px;
    }
    .info__image-container {
        width: 500px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 145px;
    }
    .info__stats-circle {
        margin-left: 0;
    }
    .info__stats-item {
        width: 500px;
    }
    .info__stats-block {
        width: 60%;
    }
}
@media (max-width: 550px) {
    .header__container {
        padding: 0 110px;
    }
    .skills__block-btn::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 100px;
        left: 27px;
    }
    .info__container {
        padding: 120px 0 130px 17px;
    }
    .info__image-container {
        width: 470px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 140px;
    }
    .info__stats-circle {
        margin-left: 10px;
    }
    .info__stats-item {
        width: 470px;
    }
    .info__stats-block {
        width: 65%;
    }
    .case__text {
        padding: 93px 0 0 45px;
    }
    .skills__text {
        padding: 100px 0 10px 45px;
    }
    .stories__text {
        padding: 85px 0 85px 45px;
    }
    .footer__add-sections a {
        margin-right: 10px;
    }
    .line__list {
        width: 290%;
    }
    .skills__block-title {
        padding: 0px 45px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 45px;
    }
    .footer {
        & .container {
            padding: 0 45px;
        }
    }
}
@media (max-width: 530px) {
    .info__container {
        padding: 120px 0 130px 17px;
    }
    .info__image-container {
        width: 450px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 130px;
    }
    .info__stats-circle {
        margin-left: 0;
    }
    .info__stats-item {
        width: 450px;
    }
    .info__stats-block {
        width: 65%;
    }
}
@media (max-width: 500px) {
    .header__container {
        padding: 0px 80px;
    }
    .skills__block-btn::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 100px;
        left: 40px;
    }
    .info__container {
        padding: 120px 0 130px 17px;
    }
    .info__image-container {
        width: 420px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 100px;
    }
    .info__stats-item {
        width: 420px;
    }
    .info__stats-block {
        width: 65%;
    }
    .case__text {
        padding: 93px 0 0 60px;
    }
    .skills__text {
        padding: 100px 0 10px 60px;
    }
    .stories__text {
        padding: 85px 0 85px 60px;
    }
    .footer__add-sections a {
        margin-right: 10px;
    }
    .line__list {
        width: 320%;
    }
    .footer {
        & .container {
            padding: 0px 28px;
        }
    }
    .stories__list-text {
        width: 400px;
    }
    .skills__block-title {
        padding: 0 60px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 60px;
    }

}
@media (max-width: 480px) {
    .info__container {
        padding: 120px 0 130px 17px;
    }
    .info__image-container {
        width: 400px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 90px;
    }
    .info__stats-item {
        width: 400px;
    }
}
@media (max-width: 450px) {
    .header__container {
        padding: 0 50px;
    }
    .info__container {
        padding: 120px 0 130px 0;
    }
    .info__image-container {
        width: 390px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 80px;
    }
    .info__stats-circle {
        display: none;
    }
    .info__stats-block {
        margin-left: 17px;
    }
    .info__stats-item {
        width: 100%;
    }
    .case__text {
        padding: 93px 0 0 28px;
    }
    .skills__text {
        padding: 100px 0 10px 28px;
    }
    .stories__text {
        padding: 85px 0 85px 28px;
    }
    .footer__add-sections a {
        margin-right: 10px;
    }
    .header__image {
        width: 420px;
        height: 380px;
        margin-top: 10px;
    }
    .footer {
        & .container {
            padding: 0px 28px;
        }
    }
    .stories__list-text {
        width: 370px;
    }
    .info__text {
        padding: 0px 20px;
    }
    .skills__block-title {
        padding: 0 28px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 28px;
    }
    .header__image-title {
        width: 359px;
    }
    .header__image {
        width: 305px;
        height: 340px;
        margin-top: 20px;
    }
    .line__list {
        width: 375%;
    }
    .info__image-container {
        width: 100%;
    }
    .info__stats {
        width: 100%;
    }
    .skills__text-add {
        width: 340px;
        font-size: 14px;
    }
    .skills__block-btn::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 100px;
        left: 10px;
    }
}

@media (max-width: 400px) {
    .header__container {
        padding: 0 28px;
    }
    .info__stats-img-controls .swiper-controls {
        left: 80px;
    }
    .info__text-btn-container::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #dc4139;
        top: 15px;
        left: -15px;
    }
    .info__container {
        padding: 120px 0 130px 0;
    }
    .skills__text {
        padding: 100px 0 10px 28px;
    }
    .stories__text {
        padding: 85px 0 85px 28px;
    }
    .footer__add-sections a {
        margin-right: 10px;
    }
    .line__list {
        width: 395%;
    }
    .footer {
        & .container {
            padding: 0px 28px;
        }
    }
    .info {
        & .container {
            padding: 0;
        }
    }
    .stories__list-text {
        width: 400px;
    }
    .stories__list-text {
        width: 350px;
        height: 120px;
    }
    .info__stats {
        width: 100%;
    }
    .header__image {
        margin-left: 20px;
    }
    .line__list {
        width: 370%;
    }
    .info__image-container {
        width: 100%;
    }
    .header__image-title {
        margin-top: 44px;
        font-size: 45px;
        width: 320px;
    }
    .info__media-title {
        display: none;
        width: 340px;
    }
    .skills__block-title {
        padding: 0 28px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 28px;
    }
    .skills__text-add {
        font-size: 14px;
        width: 340px;
    }
}
@media (max-width: 375px) {
    .header__info-btn-right:after {
        top: 31px;
    }
    // .grain-7 {
    //     height: 2780px;
    //     top: 7930px;
    // }
    .line__list {
        width: 390%;
        left: -87px;
    }
    .info__image-container {
        width: 100%;
    }
    .skills__text-add {
        font-size: 13px;
        width: 334px;
    }
    .stories__list-text {
        width: 330px;
        height: 120px;
    }
    .header__image {
        margin-left: 0;
    }
    .skills__block-title {
        width: 319px;
        height: 415px;
    }
    .header__info-text {
        font-size: 16px;
        width: 330px;
    }
}