@media (max-height: 900px) {
    .s-header__search {
        padding-bottom: 80px;
    }
}
@media (max-height: 850px) {
    .s-header__search {
        padding-bottom: 40px;
    }
}
@media (max-height: 750px) {
    .s-header__info-btn-container {
        margin-top: 40px;
    }
    .s-header__info-text {
        margin-top: 23px;
    }
}
@media (max-height: 700px) {
    .s-header__info-title {
        margin-top: 20px;
    }
}
@media (max-height: 650px) {
    .s-header__search {
        padding-bottom: 10px;
    }
    .s-header__info-title {
        height: 150px;
    }
}


@media (max-width: 1505px) {
    .seo-team__block-img {
        overflow: hidden;
    }
}
@media (max-width: 1430px) {
    .seo-team__block-img {
        display: none;
    }
}