@media (max-height: 900px) {
    .s-header__search {
        padding-bottom: 80px;
    }
}
@media (max-height: 850px) {
    .s-header__search {
        padding-bottom: 40px;
    }
}
@media (max-height: 750px) {
    .s-header__info-btn-container {
        margin-top: 40px;
    }
    .s-header__info-text {
        margin-top: 23px;
    }
}
@media (max-height: 700px) {
    .s-header__info-title {
        margin-top: 20px;
    }
}
@media (max-height: 650px) {
    .s-header__search {
        padding-bottom: 10px;
    }
    .s-header__info-title {
        height: 150px;
    }
}
@media (max-height: 600px) {
    .hel-header__container {
        top: 23%;
    }
}
@media (max-height: 550px) {
    .hel-header__info-btn-container {
        margin-top: 45px;
    }
}
@media (max-height: 510px) {
    .hel-header__info-text {
        margin-top: 23px;
    }
    .hel-header__info-title {
        margin-top: 33px;
    }
}











@media (max-width: 1505px) {
    .seo-team__block-img {
        overflow: hidden;
    }
}
@media (max-width: 1430px) {
    .seo-team__block-img {
        display: none;
    }
}
@media (max-width: 1400px) {
    .hel-header__container {
        width: 1040px;
    }
    .hel-info__table::before {
        top: 29%;
        left: 44.5%;
    }
    .hel-info__table::after {
        top: 31%;
        left: 45.2%;
    }
    .hel-new__text {
        margin-left: 30px;
    }
    .hel-info__block-title {
        text-align: center;
    }
}
@media (max-width: 1370px) {
    .hel-info__table::before {
        top: 29%;
        left: 44.5%;
    }
    .hel-info__table::after {
        top: 31%;
        left: 45.2%;
    }
}
@media (max-width: 1350px) {
    .hel-info__table::before {
        top: 29%;
        left: 44.5%;
    }
    .hel-info__table::after {
        top: 31%;
        left: 45.2%;
    }
    .hel-new__text {
        margin-left: 0;
    }
    .hel-header__container {
        width: 990px;
    }
}
@media (max-width: 1300px) {
    .hel-header__container {
        width: 940px;
    }
    .hel-header__info-title {
        margin-top: 48px;
        width: 1150px;
        height: 200px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 54px;
        line-height: 82px;
        letter-spacing: 14px;
        text-transform: uppercase;
        color: #292929;
        z-index: 5;
    }
    .hel-info__table-item-title {
        margin: 37px 0 0 80px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 46px;
        letter-spacing: .01em;
        text-transform: uppercase;
        color: #000;
    }
    .hel-info__table-item-text {
        margin: 1px 75px 38px 80px;
        width: 347px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #535353;
    }
    .hel-info__table-item-3::before {
        content: "";
        position: absolute;
        top: 0;
        left: -133px;
        width: 99px;
        height: 99px;
        border: 1px solid #dc4139;
        border-radius: 50%;
        background: #dcdcdc;
    }
    .hel-info__table-item-3::after {
        top: 6px;
        left: -127px;
    }
    .hel-new__slide-container {
        width: 650px;
    }
}
@media (max-width: 1250px) {
    .hel-header__container {
        width: 890px;
    }
    .hel-expectation__block {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .hel-expectation__block-list {
        width: 100%;
    }
    .hel-expectation__block-item {
        width: 100%;
        justify-content: flex-start;
    }
    .hel-expectation__block-item-circle {
        margin: 0 30px 0 60px;
    }
    .hel-expectation__block-item-add {
        width: 100%;
    }
    .hel-new__slide-container {
        width: 600px;
    }
    .hel-expectation__block {
        padding: 200px 180px 0 180px;
    }
    .hel-about__block {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .hel-about__block-img {
        margin-top: 55px;
        width: 100%;
        height: 100%; 
        & img {
            width: 100%;
            height: 100%;
        }
        &::after {
            width: 100%;
            height: 99%;
        }
    }
    .hel-about__block {
        padding: 0 180px;
    }
}
@media (max-width: 1200px) {
    .hel-footer__info-sections {
        margin: 38px 175px 0 0;
    }
    .hel-footer__add-phone {
        margin-right: 60px;
    }
    .hel-new__slide-container {
        width: 550px;
        overflow: hidden;
    }
    .hel-info__table {
        padding: 45px;
    }
    .hel-info__table::after {
        top: 33.9%;
        left: 45%;
    }
    .hel-info__table::before {
        top: 32%;
        left: 44.3%;
    }
    .hel-result__block-text {
        width: 170px;
    }
    .hel-header__container {
        width: 840px;
    }
    .hel-header__info-title {
        margin-top: 48px;
        width: 1150px;
        height: 125px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 44px;
        line-height: 63px;
        letter-spacing: 14px;
        text-transform: uppercase;
        color: #292929;
        z-index: 5;
    }
    .hel-company__search {
        padding: 0 90px 100px 90px;
    }
    .hel-header__info-title {
        width: 100%;
    }
    .hel-header__info-title {
        margin-top: 48px;
        height: 95px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 37px;
        line-height: 53px;
        letter-spacing: 14px;
        text-transform: uppercase;
        color: #292929;
        z-index: 5;
    }
    .hel-about__block-add::before {
        content: "digital агентство";
        width: 30%;
        position: absolute;
        top: 8px;
        left: 216px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .01em;
        color: #9c9c9c;
    }
}
@media (max-width: 1150px) {
    .hel-footer__info-sections {
        margin: 38px 135px 0 0;
    }
    .hel-footer__add-phone {
        margin-right: 20px;
    }
    .hel-new__slide-container {
        width: 500px;
    }
    .hel-info__table-item-text {
        margin: 1px 75px 38px 80px;
        width: 280px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #535353;
    }
    .hel-info__table::before {
        top: 33%;
        left: 44.1%;
    }
    .hel-info__table::after {
        top: 34.7%;
        left: 44.8%;
    }
    .hel-result__block-add {
        width: 415px;
    }
    .hel-header__container {
        width: 775px;
    }
}
@media (max-width: 1050px) {
    .hel-header {
        padding: 0;
        & .container {
            padding: 0;
        }
    }
    .hel-header__nav {
        padding: 0 90px;
        background-color: #000;
        & rect {
            fill: #000;
        }
    }
    .hel-header__menu-geo {
        opacity: 0;
    }
    .hel-header__menu-item::before {
        border-top: 1px solid #fff;
    }
    .hel-header__menu-item::after {
        border-top: 1px solid #fff;
    }
    .hel-header__container {
        width: 100%;
        top: 30%;
        left: 0;
        transform: translate(0%, 0%);
        padding: 0 28px 0 90px;
    }
    .hel-company__search {
        padding: 0 28px 100px 28px;
    }
    .hel-expectation__block {
        padding: 200px 90px 0 90px;
    }
    .hel-result__block-btn-container {
        margin-top: 75px;
        padding-bottom: 100px;
        position: relative;
        padding: 0;
    }
    .hel-result__block {
        padding: 0;
    }
    .hel-result__block-btn-container::before {
        content: "";
        position: absolute;
        width: 97px;
        height: 47px;
        border: 1px solid #fff;
        top: 15px;
        left: -14px;
    }
    .hel-info .container {
        padding: 0 28px;
    }
    .hel-about__block {
        padding: 0 90px;
    }
    .hel-new .container {
        padding: 0;
    }
    .hel-footer__block {
        padding: 65px 0 30px 0;
        width: 100%;
        height: 100%;
    }
    .hel-info__table::before {
        top: 33%;
        left: 43.6%;
    }
    .hel-info__table::after {
        top: 34.7%;
        left: 44.4%;
    }
}
@media (max-width: 1000px) {
    .hel-footer__info-sections {
        margin: 38px 50px 0 0;
    }
    .hel-footer__info-phone {
        margin-top: 38px;
        margin-right: 60px;
        width: 106px;
        height: 26px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 26px;
        text-transform: uppercase;
        color: #010101;
    }
    .hel-new__slide-container {
        width: 450px;
    }
    .hel-info__table::before {
        top: 33%;
        left: 44%;
    }
    .hel-info__table::after {
        top: 34.7%;
        left: 44.7%;
    }
    .hel-company__search {
        padding: 0 28px 100px 28px;
    }
    .hel-header__container {
        width: 100%;
    }
    .hel-header__info-title {
        margin-top: 48px;
        height: 76px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 33px;
        line-height: 47px;
        letter-spacing: 12px;
        text-transform: uppercase;
        color: #292929;
        z-index: 5;
    }
    .hel-header__info-title {
        margin-top: 48px;
        height: 80px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 42px;
        letter-spacing: 10px;
        text-transform: uppercase;
        color: #292929;
        z-index: 5;
    }
    .hel-info__table {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .hel-info__table::before,
    .hel-info__table::after {
        display: none;
    }
    .hel-info__table-block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .hel-info__table-item {
        border-left: 1px solid #dc4139;
        border-right: 1px solid #dc4139;
        margin-left: 0;
        margin-right: 0;
        width: 100%;
        &:last-child {
            border-top: 1px solid #dc4139;
        }
    }
    .hel-info__table-item-2::before {
        content: "";
        position: absolute;
        top: 36px;
        left: -51px;
        width: 99px;
        height: 99px;
        border: 1px solid #dc4139;
        border-radius: 50%;
        background: #dcdcdc;
    }
    .hel-info__table-item-2::after {
        content: "2";
        position: absolute;
        left: -45px;
        top: 42px;
    }
    .hel-info__table-item-4::before {
        content: "";
        position: absolute;
        top: 0;
        left: -131px;
        width: 99px;
        height: 99px;
        border: 1px solid #dc4139;
        border-radius: 50%;
        background: #dcdcdc;
    }
    .hel-info__table-item-4::after {
        content: "4";
        position: absolute;
        top: 6px;
        left: -125px;
    }
    .hel-info__table {
        padding: 45px 60px 45px 60px;
    }
    .hel-info__table-item-text {
        margin: 1px 75px 38px 80px;
        width: 90%;
        height: 50px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 25px;
        color: #535353;
    }
}
@media (max-width: 950px) {
    .hel-new .container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .hel-new__text {
        margin-bottom: 75px;
    }
    .hel-new__text-controls .swiper-controls-hel {
        top: 480px;
    }
    .hel-new {
        position: relative;
        padding: 210px 90px 175px 90px;
    }
}
@media (max-width: 900px) {
    .hel-result__block-media {
        display: flex;
    }
    .hel-result__block-number,
    .hel-result__block-text {
        display: none;
    }
    .hel-result__block-item {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .hel-result__block-number-media {
        margin: 0 30px 30px 0;
    }
    .hel-result__block-add {
        margin: 0 0 35px 0;
    }
    .hel-expectation__block-item-text {
        margin-left: 0;
    }
}
@media (max-width: 800px) {
    .hel-header__nav {
        padding: 0 28px;
    }
    .hel-expectation__block-item-circle {
        margin: 0 30px 0 30px;
    }
    .hel-expectation__block-item-text {
        width: 60%;
        margin-left: 0;
    }
    .hel-info__table-item-text {
        margin: 1px 75px 38px 80px;
        width: 70%;
    }
    .hel-footer__info {
        flex-direction: column;
        align-content: flex-start;
        justify-content: center;
    }
    .hel-footer__info-item {
        &:nth-child(2) {
            margin-top: 35px;
        }
        &:last-child {
            display: none;
        }
    }
    .hel-footer__add-phone {
        display: none;
    }
    .hel-footer__add-sections a {
        margin: 0 5px 0 0;
    }
    .hel-expectation__block-add::before {
        content: "digital агентство";
        position: absolute;
        top: 8px;
        left: 216px;
        width: 30%;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        letter-spacing: .01em;
        color: #9c9c9c;
    }
    .hel-result__block-title {
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 26px;
        line-height: 47px;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: #fff;
        padding-top: 76px;
    }
    .hel-info__block-title {
        margin-top: 36px;
        width: 100%;
        height: 46px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 47px;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: #000;
    }
    .hel-info__block-text {
        margin: 25px 0 47px 0;
        width: 100%;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 24px;
        text-align: center;
        color: #535353;
    }
}
@media (max-width: 700px) {
    .hel-header__container {
        padding: 0 28px;
    }
    .hel-expectation__block {
        padding: 200px 28px 0 28px;
    }
    .hel-result .container {
        padding: 0 28px;
    }
    .hel-about__block {
        padding: 0 28px;
    }
    .hel-new {
        position: relative;
        padding: 210px 28px 175px 28px;
    }
    .hel-footer .container {
        padding: 0 28px;
    }
}
@media (max-width: 650px) {
    .hel-header__info-title {
        margin-top: 48px;
        height: 80px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 40px;
        letter-spacing: 7px;
        text-transform: uppercase;
        color: #292929;
        z-index: 5;
    }
    .hel-expectation__block-title {
        margin-top: 54px;
        height: 103px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 43px;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: #505050;
    }
    .hel-info__block-title {
        margin-top: 36px;
        width: 100%;
        height: 46px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 47px;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: #000;
    }
    .hel-info__block-text {
        margin: 25px 0 47px 0;
        width: 65%;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 24px;
        text-align: center;
        color: #535353;
    }
}
@media (max-width: 550px) {
    .hel-result__block-title {
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 42px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #fff;
        padding-top: 76px;
    }
}
@media (max-width: 500px) {
    .hel-header__info-title {
        margin-top: 48px;
        height: 110px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 43px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #292929;
        z-index: 5;
    }
    .hel-expectation__block-item-title {
        width: 100%;
        height: 46px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 46px;
        letter-spacing: .01em;
        text-transform: uppercase;
        color: #000;
    }
    .hel-expectation__block-item-add {
        margin-top: 1px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 25px;
        color: #535353;
    }
    .hel-result__block-title {
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 42px;
        letter-spacing: 3px;
        text-transform: uppercase;
        color: #fff;
        padding-top: 76px;
        width: 95%;
    }
    .hel-info__block-title {
        margin-top: 36px;
        width: 100%;
        height: 40px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 47px;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: #000;
    }
    .hel-info__table-item {
        border-left: 1px solid #dc4139;
        border-right: 1px solid #dc4139;
        margin-left: 0;
        margin-right: 0;
        height: 200px;
        width: 100%;
    }
    .hel-new__slide-text {
        margin-top: 20px;
        width: 260px;
        height: 125px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 33px;
        letter-spacing: .01em;
        text-transform: uppercase;
        color: #fff;
    }
    .hel-new__slide-container {
        width: 400px;
    }
}
@media (max-width: 450px) {
    .hel-expectation__text-after {
        width: 159px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 29px;
        letter-spacing: .01em;
        color: #9c9c9c;
        margin-left: 0;
    }
    .hel-expectation__text-before {
        height: 29px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 17px;
        line-height: 29px;
        letter-spacing: .01em;
        color: #dc4139;
        margin-right: 20px;
    }
    .hel-expectation__block-title {
        margin-top: 54px;
        height: 90px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
        line-height: 43px;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: #505050;
    }
    .hel-expectation__block-text {
        width: 100%;
    }
    .hel-expectation__list-text {
        width: 90%;
    }
    .hel-expectation__block-item-circle {
        display: none;
    }
    .hel-expectation__block-item-text {
        width: 95%;
    }
    .hel-info__block-title {
        margin-top: 36px;
        width: 100%;
        height: 80px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 47px;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: #000;
    }
    .hel-info__table {
        padding: 45px 28px 45px 48px;
    }
    .hel-about__block-title {
        margin-top: 54px;
        height: 110px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 25px;
        line-height: 45px;
        letter-spacing: .12em;
        text-transform: uppercase;
        color: #505050;
    }
    .hel-about__block-text {
        width: 95%;
    }
    .hel-about__block-people {
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }
    .hel-about__block-people-block {
        margin-left: 0;
        margin-top: 35px;
    }
    .hel-about__block-img::after {
        display: none;
    }
    .hel-new__slide-container {
        width: 350px;
    }
    .hel-result__block-add {
        width: 100%;
    }
    .hel-header__info-text {
        width: 100%;
    }
    .hel-result__block-text-media {
        width: 50%;
    }
    .hel-expectation__text-after {
        width: 125px;
        font-family: Circe;
        font-style: normal;
        font-weight: 400;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: .01em;
        color: #9c9c9c;
        margin-left: 0;
    }
    .hel-expectation__text-before {
        height: 29px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 15px;
        line-height: 29px;
        letter-spacing: .01em;
        color: #dc4139;
        margin-right: 20px;
    }
}
@media (max-width: 420px) {
    .hel-expectation__list-circle {
        margin-right: 8px;
    }
}
@media (max-width: 400px) {
    .hel-new__slide-container {
        width: 310px;
    }
    .hel-expectation__text-after {
        width: 80px;
    }
    .hel-expectation__list-circle {
        width: 37px;
        height: 37px;
        border-radius: 50%;
        border: 1px solid #dc4139;
        margin-right: 12px;
    }
    .hel-result__block-title {
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 21px;
    }

}