// d-Header 
.d-new { 
    z-index: 1;
    width: 100%;
    padding: 39px 0px 92px 0px;
    position: relative;
    overflow: hidden;
    &__content {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 90px 90px 0 180px;
        &-ribbon {
            width: 640px;
        }
        &-add {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            margin-bottom: 38px;
            & p {
                height: 19px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 19px;
                color: #000000;
                &:last-child {
                    margin-left: 22px;
                }
            }
        }
        &-img {
            width: 100%;
            &-1 {
                width: 100%;
            }
            &-2 {
                width: 100%;
                margin-top: 68px;
            }
        }
        &-imgs {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: -1;
        }
        &-texts {
            margin-top: 68px;
            width: 632px;
            height: 252px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 28px;
            color: #535353;
        }
        &-hr {
            margin-top: 54px;
            border: 1px solid #949494;
            width: 100%;
            height: 0;
        }
        &-title {
            margin-top: 62px;
            width: 287px;
            height: 24px;
            font-family: Circe;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            color: #535353;
        }
        &-text {
            margin-top: 38px;
            height: 216px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 24px;
            color: #535353;
        }
        &-name {
            width: 99px;
            height: 19px;
            font-family: Circe;
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 19px;
            text-align: left;
            color: #000000;
        }
        &-list {
            display: flex;
            flex-direction: column;
            margin-top: 38px;
        }
        &-item-m {
            display: none;
            padding: 39px 0 0 58px;
            position: relative;
            width: 520px;
            height: 235px;
        }
        &-item {
            padding: 39px 0 0 58px;
            position: relative;
            width: 420px;
            height: 235px;
            border-left: 1px solid #949494;
            border-right: 1px solid #949494;
            border-top: 1px solid #949494;
            &:last-child {
                border-bottom: 1px solid #949494;
            }
            &-date {
                height: 21px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                color: #000000;
            }
            &-title {
                margin-top: 17px;
                width: 296px;
                height: 66px;
                font-family: Circe;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 33px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #000000;
            }
            &-block {
                margin-top: 34px;
                display: flex;
            }
            &-text {
                margin-right: 22px;
                height: 19px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 19px;
                color: #151515;
            }
            &-add {
                height: 19px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 19px;
                color: #151515;
            }
            &-date-m {
                height: 21px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 21px;
                color: #fff;
            }
            &-title-m {
                margin-top: 17px;
                width: 296px;
                height: 66px;
                font-family: Circe;
                font-style: normal;
                font-weight: bold;
                font-size: 16px;
                line-height: 33px;
                letter-spacing: 0.01em;
                text-transform: uppercase;
                color: #fff;
            }
            &-block-m {
                margin-top: 34px;
                display: flex;
            }
            &-text-m {
                margin-right: 22px;
                height: 19px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 19px;
                color: #fff;
            }
            &-add-m {
                height: 19px;
                font-family: Circe;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 19px;
                color: #fff;
            }
        }
    }
}