$black: #000;
$black-22: #222;
$black-21: #222121;
$white: #fff;
$white-DF: #DFDFDF;
$white-F2: #F2F2F2;
$red: #DC4139;
$gray-BD: #BDBDBD;
$gray-94: #949494;
$gray-50: #505050;
$gray-C9: #9C9C9C;
$gray-3D: #3D3D3D;
