@media (max-width: 1400px) {
    .c-header__container {
        width: 1045px;
    }
}
@media (max-width: 1350px) {
    .tab-form {
        padding: 30px 45px;
    }
    .c-header__container {
        width: 1000px;
    }
}
@media (max-width: 1300px) {
    .tab-form {
        padding: 30px 15px;
    }
    .c-header__container {
        width: 945px;
    }
    .tab-1 {
        margin: 0 0 96px 320px;
    }
    .tab {
        margin-right: 50px;
    }
}
@media (max-width: 1250px) {
    .c-header__container {
        width: 895px;
    }
    .c-header__news-text {
        width: 895px;
    }
    .c-promotion__block {
        &:nth-child(3) {
            display: none;
        }
        &:nth-child(6) {
            display: none;
        }
        &:nth-child(9) {
            display: none;
        }
    }
    .c-promotion__blocks {
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        gap: 30px 15px;
    }
    .c-promotion__block {
        height: 275px;
        width: 100%;
    }
    .c-promotion__block-img img {
        width: 100%;
    }
    .tab-1 {
        margin: 0 0 96px 300px;
    }
    .tab {
        margin-right: 50px;
    }
}
@media (max-width: 1200px) {
    .c-header__container {
        width: 845px;
    }
    .c-header__news-text {
        width: 845px;
    }
    .tab-1 {
        margin: 0 0 96px 280px;
    }
    .tab {
        margin-right: 50px;
    }
}
@media (max-width: 1150px) {
    .c-header__container {
        width: 800px;
    }
    .c-header__news-text {
        width: 800px;
    }
    .tab-1 {
        margin: 0 0 96px 260px;
    }
    .tab {
        margin-right: 50px;
    }
}
@media (max-width: 1100px) {
    .c-header__container {
        width: 745px;
    }
    .c-header__news-text {
        width: 745px;
    }
    .tab-1 {
        margin: 0 0 96px 220px;
    }
    .tab {
        margin-right: 50px;
    }
}
@media (max-width: 1050px) {
    .c-header__search {
        display: none;
    }
    .c-header {
        padding: 0;
        & .container {
            padding: 0;
        }
    }
    .c-header__nav {
        padding: 0 45px;
        background: #000;
    }
    .c-header__menu-geo {
        opacity: 0;
    }
    .c-header__menu-item {
        color: #000;
    }
    .tab-1 {
        margin: 0 0 96px 200px;
    }
    .tab {
        margin-right: 50px;
    }
    .c-header__container {
        width: 960px;
    }
    .c-header__news-text {
        width: 960px;
    }
    .c-list {
        & .container {
            padding: 0;
        }
    }
    .c-list__text {
        padding: 146px 45px 98px 180px;
    }
    .c-c-footer__container {
        border-top: none;
    }
    .c-c-footer {
        border-top: 1px solid #949494;
    }
    .c-header__logo {
        & rect { 
            fill: #000;
        }
    }
    .c-header__menu-item {
        &::after {
            background: #fff;
            border: 1px solid #fff;
        }
        &::before {
            background: #fff;
            border: 1px solid #fff;
        }
    }
    .c-list__block-item {
        flex-direction: column;
        align-items: flex-start;
        padding: 51px 0 51px 45px;
        position: relative;
        &::after {
            content: "🠖";
            font-size: 60px;
            display: inline-block;
            position: absolute;
            top: 100px;
            right: 47px;
            color: #fff;
        }
    }
    .c-list__block-blocks {
        flex-direction: column;
        align-items: flex-start;
    }
    .c-list__block-title {
        padding: 0;
    }
    .c-list__block-name {
        margin-top: 27px;
    }
    .c-list {
        height: 100%;
    }
    .c-list__block-text {
        margin-top: 37px;
    }
    .c-list__block {
        padding: 0 0 122px 0;
    }
    .c-list__text-title {
        width: 100%;
    }
}
@media (max-width: 1000px) {
    .c-header__news-text {
        width: 925px;
    }
    .c-header__container {
        width: 925px;
    }
    .tab-1 {
        margin: 0 0 96px 180px;
    }
    .tab {
        margin-right: 50px;
    }
}
@media (max-width: 950px) {
    .c-header__container {
        width: 870px;
    }
    .c-header__news-text {
        width: 870px;
    }
    .tab-1 {
        margin: 0 0 96px 160px;
    }
    .tab {
        margin-right: 50px;
    }
}
@media (max-width: 900px) {
    .c-header__container {
        width: 815px;
    }
    .c-header__news-text {
        width: 815px;
    }
    .tab-1 {
        margin: 0 0 96px 120px;
    }
    .tab {
        margin-right: 50px;
    }
    .c-list__text-title {
        width: 100%;
    }
}
@media (max-width: 850px) {
    .c-header__container {
        width: 770px;
    }
    .c-header__news-text {
        width: 770px;
    }
    .tab-1 {
        margin: 0 0 96px 100px;
    }
    .tab {
        margin-right: 30px;
    }
}
@media (max-width: 800px) {
    .c-header__container {
        width: 720px;
    }
    .c-header__news-text {
        width: 720px;
    }
    .tab-1 {
        margin: 0 0 96px 80px;
    }
    .tab {
        margin-right: 30px;
    }
    .c-list__text {
        padding: 146px 45px 98px 90px;
    }
}
@media (max-width: 750px) {
    .c-header__container {
        width: 670px;
    }
    .c-header__news-text {
        width: 670px;
    }
    .tab-1 {
        margin: 0 0 96px 70px;
    }
    .tab {
        margin-right: 20px;
    }
    .c-list__text-title {
        width: 100%;
        font-size: 26px;
    }
    .c-promotion__block {
        &:nth-child(3) {
            display: block;
        }
        &:nth-child(6) {
            display: block;
        }
        &:nth-child(9) {
            display: block;
        }
        &:nth-child(2) {
            display: none;
        }
        &:nth-child(5) {
            display: none;
        }
        &:nth-child(8) {
            display: none;
        }
    }
    .c-promotion__blocks {
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
        gap: 20px 10px;
    }
    .tab-form {
        padding: 30px 28px;
    }
}
@media (max-width: 700px) {
    .c-header__container {
        transform: translate(0%, -50%);
        margin: 0;
        padding: 0 28px;
        top: 50%;
        left: 0;
    }
    .c-header__news-text {
        width: 100%;
        height: 100%;
    }
    .c-promotion__media {
        display: block;
    }
    label.tab {
        display: none;
    }
    .dws-form {
        margin-top: 10px;
    }
    .c-list__text {
        padding: 146px 0 98px 28px;
    }
    .c-header__nav {
        padding: 0 28px;
    }
}
@media (max-width: 650px) {
    .c-header__news-title {
        width: 590px;
    }
    .c-header__news-text {
        width: 590px;
    }
}
@media (max-width: 600px) {
    .c-header__news-title {
        width: 540px;
    }
    .c-header__news-text {
        width: 540px;
    }
}
@media (max-width: 550px) {
    .c-header__news-title {
        width: 480px;
    }
    .c-header__news-text {
        width: 480px;
    }
}
@media (max-width: 500px) {
    .c-header__news-title {
        width: 420px;
    }
    .c-header__news-text {
        width: 420px;
    }
}
@media (max-width: 450px) {
    .c-header__news-title {
        width: 360px;
    }
    .c-header__news-text {
        width: 360px;
    }
    .c-list__block-item {
        padding: 51px 0 51px 28px;
    }
    .c-list__text-title {
        width: 100%;
        height: 100%;
        font-size: 24px;
    }
}
@media (max-width: 400px) {
    .c-header__news-title {
        width: 300px;
    }
    .c-header__news-text {
        width: 300px;
    }
}






@media (max-width: 1300px) {
    .c-footer__info-sections {
        margin: 38px 200px 0 0;
    }
    .c-footer__add-phone {
        margin-right: 90px;
    }
}
@media (max-width: 1200px) {
    .c-footer__info-sections {
        margin: 38px 150px 0 0;
    }
    .c-footer__add-phone {
        margin-right: 40px;
    }
}
@media (max-width: 1150px) {
    .c-footer__info-sections {
        margin: 38px 120px 0 0;
    }
    .c-footer__add-phone {
        margin-right: 20px;
    }
}
@media (max-width: 1100px) {
    .c-footer__info-sections {
        margin: 38px 100px 0 0;
    }
    .c-footer__add-phone {
        margin-right: 0;
    }
}
@media (max-width: 1050px) {
    .c-footer__info-sections {
        margin: 38px 50px 0 0;
    }
    .c-footer__info-phone {
        margin-right: 50px;
    }
}
@media (max-width: 950px) {
    .c-footer__block {
        padding: 65px 0 30px 0;
    }
}

@media (max-width: 750px) {
    .c-footer__info-item:last-child {
        display: none;
    }
    .c-footer__add-phone {
        display: none;
    }
    .c-footer__info-phone {
        margin-right: 0;
    }
}
@media (max-width: 600px) {
    .c-footer__info {
        flex-direction: column;
    }
    .c-footer__info-item:nth-child(2) {
        margin-top: 61px;
    }
    .c-footer {
        border-top: 1px solid #949494;
    }
    .c-footer__container {
        border-top: none;
        margin: 0;
    }
}
@media (max-width: 550px) {
    .c-footer__add-sections a {
        margin-right: 10px;
    }
}

@media (max-width: 500px) {
    .c-footer__add-sections a {
        margin-right: 10px;
    }
    .c-footer {
        & .container {
            padding: 0px 28px;
        }
    }
}

@media (max-width: 450px) {
    .c-footer__add-sections a {
        margin-right: 10px;
    }
    .c-footer {
        & .container {
            padding: 0px 28px;
        }
    }
}

@media (max-width: 400px) {
    .c-footer__add-sections a {
        margin-right: 10px;
    }
    .c-footer {
        & .container {
            padding: 0px 28px;
        }
    }
}