// @media (max-height: 1300px) {
//     .grain-6 {
//         height: 1830px;
//     }
// }
// @media (max-height: 1290px) {
//     .grain-6 {
//         height: 1820px;
//     }
// }
// @media (max-height: 1280px) {
//     .grain-6 {
//         height: 1810px;
//     }
// }
// @media (max-height: 1270px) {
//     .grain-6 {
//         height: 1800px;
//     }
// }
// @media (max-height: 1260px) {
//     .grain-6 {
//         height: 1790px;
//     }
// }
// @media (max-height: 1250px) {
//     .grain-6 {
//         height: 1780px;
//     }
// }
// @media (max-height: 1240px) {
//     .grain-6 {
//         height: 1770px;
//     }
// }
// @media (max-height: 1230px) {
//     .grain-6 {
//         height: 1760px;
//     }
// }
// @media (max-height: 1220px) {
//     .grain-6 {
//         height: 1750px;
//     }
// }
// @media (max-height: 1210px) {
//     .grain-6 {
//         height: 1740px;
//     }
// }
// @media (max-height: 1200px) {
//     .grain-6 {
//         height: 1730px;
//     }
// }
// @media (max-height: 1190px) {
//     .grain-6 {
//         height: 1720px;
//     }
// }
// @media (max-height: 1180px) {
//     .grain-6 {
//         height: 1710px;
//     }
// }
// @media (max-height: 1170px) {
//     .grain-6 {
//         height: 1700px;
//     }
// }
// @media (max-height: 1160px) {
//     .grain-6 {
//         height: 1690px;
//     }
// }
// @media (max-height: 1150px) {
//     .grain-6 {
//         height: 1680px;
//     }
// }
// @media (max-height: 1140px) {
//     .grain-6 {
//         height: 1670px;
//     }
// }
// @media (max-height: 1130px) {
//     .grain-6 {
//         height: 1660px;
//     }
// }
// @media (max-height: 1120px) {
//     .grain-6 {
//         height: 1650px;
//     }
// }
// @media (max-height: 1110px) {
//     .grain-6 {
//         height: 1640px;
//     }
// }
// @media (max-height: 1100px) {
//     .grain-6 {
//         height: 1630px;
//     }
// }
// @media (max-height: 1090px) {
//     .grain-6 {
//         height: 1620px;
//     }
// }
// @media (max-height: 1080px) {
//     .grain-6 {
//         height: 1610px;
//     }
// }
// @media (max-height: 1070px) {
//     .grain-6 {
//         height: 1600px;
//     }
// }
// @media (max-height: 1060px) {
//     .grain-6 {
//         height: 1590px;
//     }
// }
// @media (max-height: 1050px) {
//     .grain-6 {
//         height: 1580px;
//     }
// }
// @media (max-height: 1040px) {
//     .grain-6 {
//         height: 1570px;
//     }
// }
// @media (max-height: 1030px) {
//     .grain-6 {
//         height: 1560px;
//     }
// }
// @media (max-height: 1020px) {
//     .grain-6 {
//         height: 1550px;
//     }
// }
// @media (max-height: 1010px) {
//     .grain-6 {
//         height: 1540px;
//     }
// }
// @media (max-height: 1000px) {
//     .grain-6 {
//         height: 1530px;
//     }
// }
// @media (max-height: 990px) {
//     .grain-6 {
//         height: 1520px;
//     }
// }
// @media (max-height: 980px) {
//     .grain-6 {
//         height: 1510px;
//     }
// }
// @media (max-height: 970px) {
//     .grain-6 {
//         height: 1500px;
//     }
// }
// @media (max-height: 960px) {
//     .grain-6 {
//         height: 1490px;
//     }
// }
// @media (max-height: 950px) {
//     .grain-6 {
//         height: 1480px;
//     }
// }
// @media (max-height: 940px) {
//     .grain-6 {
//         height: 1470px;
//     }
// }
// @media (max-height: 930px) {
//     .grain-6 {
//         height: 1460px;
//     }
// }
// @media (max-height: 920px) {
//     .grain-6 {
//         height: 1450px;
//     }
// }
// @media (max-height: 910px) {
//     .grain-6 {
//         height: 1440px;
//     }
// }
// @media (max-height: 900px) {
//     .grain-6 {
//         height: 1430px;
//     }
// }
// @media (max-height: 890px) {
//     .grain-6 {
//         height: 1420px;
//     }
// }
// @media (max-height: 880px) {
//     .grain-6 {
//         height: 1410px;
//     }
// }
// @media (max-height: 870px) {
//     .grain-6 {
//         height: 1400px;
//     }
// }
// @media (max-height: 860px) {
//     .grain-6 {
//         height: 1390px;
//     }
// }
// @media (max-height: 850px) {
//     .grain-6 {
//         height: 1380px;
//     }
// }
// @media (max-height: 840px) {
//     .grain-6 {
//         height: 1370px;
//     }
// }
// @media (max-height: 830px) {
//     .grain-6 {
//         height: 1360px;
//     }
// }
// @media (max-height: 820px) {
//     .grain-6 {
//         height: 1350px;
//     }
// }
// @media (max-height: 810px) {
//     .grain-6 {
//         height: 1340px;
//     }
// }
// @media (max-height: 800px) {
//     .grain-6 {
//         height: 1330px;
//     }
// }
// @media (max-height: 790px) {
//     .grain-6 {
//         height: 1320px;
//     }
// }
// @media (max-height: 780px) {
//     .grain-6 {
//         height: 1310px;
//     }
// }
// @media (max-height: 770px) {
//     .grain-6 {
//         height: 1300px;
//     }
// }


// @media (max-width: 5000px) {
//     .grain-7 {
//         display: none;
//     }
// }
















// @media (max-height: 1080px) and (max-width: 1050px) {
//     .grain-6 {
//         height: 2105px;
//     }
// }





// @media (max-height: 1120px) {
//     .grain-7 {
//         height: 2400px;
//         top: 7830px;
//     }
// }
// @media (max-height: 1110px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7840px;
//     }
// }
// @media (max-height: 1100px) {
//     .grain-7 {
//         height: 2400px;
//         top: 7830px;
//     }
// }
// @media (max-height: 1090px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7820px;
//     }
// }
// @media (max-height: 1080px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7810px;
//     }
// }
// @media (max-height: 1070px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7800px;
//     }
// }
// @media (max-height: 1060px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7790px;
//     }
// }
// @media (max-height: 1050px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7780px;
//     }
// }
// @media (max-height: 1040px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7770px;
//     }
// }
// @media (max-height: 1030px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7760px;
//     }
// }
// @media (max-height: 1020px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7750px;
//     }
// }
// @media (max-height: 1010px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7740px;
//     }
// }
// @media (max-height: 1000px) {
//     .grain-7 {
//         height: 2780px;
//         top: 7730px;
//     }
// }
// @media (max-height: 990px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7720px;
//     }
// }
// @media (max-height: 980px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7710px;
//     }
// }
// @media (max-height: 970px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7700px;
//     }
//     .header__info-text {
//         margin-top: 0;
//     }
// }
// @media (max-height: 960px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7690px;
//     }
// }
// @media (max-height: 950px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7680px;
//     }
// }
// @media (max-height: 940px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7670px;
//     }
// }
@media (max-height: 930px) {
    // .grain-7 {
    //     height: 2770px;
    //     top: 7660px;
    // }
    .header__info-btn-container {
        margin-top: 35px;
    }
}
// @media (max-height: 920px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7650px;
//     }
// }
// @media (max-height: 910px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7640px;
//     }
// }
@media (max-height: 900px) {
    // .grain-7 {
    //     height: 2770px;
    //     top: 7630px;
    // }
    .header__image {
        width: 420px;
        height: 380px;
        margin-top: 20px;
    }
    .header__image-title {
        height: 94px;
        font-family: Circe;
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 50px;
    }
    .header__container {
        top: 55%;
    }
    .header__image-title {
        margin-top: 10px;
    }
}
// @media (max-height: 890px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7620px;
//     }
// }
// @media (max-height: 880px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7610px;
//     }
// }
// @media (max-height: 870px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7600px;
//     }
// }
// @media (max-height: 860px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7590px;
//     }
// }
// @media (max-height: 850px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7580px;
//     }
// }
// @media (max-height: 840px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7570px;
//     }
// }
// @media (max-height: 830px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7560px;
//     }
// }
// @media (max-height: 820px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7550px;
//     }
// }
// @media (max-height: 810px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7540px;
//     }
// }
// @media (max-height: 800px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7530px;
//     }
// }
// @media (max-height: 790px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7520px;
//     }
// }
// @media (max-height: 780px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7510px;
//     }
// }
// @media (max-height: 770px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7500px;
//     }
// }
// @media (max-height: 760px) {
//     .grain-7 {
//         height: 2770px;
//         top: 7490px;
//     }
// }




@media (max-height: 825px) {
    // .header__container {
    //     width: 980px;
    //     padding: 45px 0px 0px 0px;
    // }
}
@media (max-height: 710px) {
    // .header__container {
    //     width: 950px;
    //     padding: 0px;
    // }
    .header__info-title {
        margin-top: 20px;
    }
    .header__info-text {
        margin-top: 20px;
    }
    .header__info-btn-container {
        margin-top: 55px;
    }
    .header__info-add {
        margin-top: 40px;
    }
    // .header__image {
    //     width: 431px;
    //     margin-top: 50px;
    //     height: 431px;
    // }
    // .header__image-fon {
    //     width: 431px;
    //     height: 431px;
    // }
    // .header__image-item {
    //     top: -45px;
    //     left: -5px;
    //     width: 420px;
    //     height: 470px;
    // }
}











@media (max-width: 1440px) {
    .skills__container {
        width: 100%;
    }
}
@media (max-width: 1350px) {
    .skill__tab-form {
        padding: 0px 180px;
    }
    .header__container {
        width: 985px;
    }
}
@media (max-width: 1300px) {
    .footer__info-sections {
        margin: 38px 200px 0 0;
    }
    .footer__add-phone {
        margin-right: 90px;
    }
    .skills__list-item {
        width: 465px;
    }
    .skills__title {
        width: 949px;
        font-size: 25px;
    }
    .header__container {
        width: 945px;
    }
}
@media (max-width: 1250px) {
    .header__container {
        width: 980px;
    }
    .header__container {
        width: 895px;
    }
    .header__info-title {
        width: 434px;
        font-size: 55px;
    }
}
@media (max-width: 1200px) {
    .skills__title {
        font-size: 28px;
    }
    .footer__info-sections {
        margin: 38px 150px 0 0;
    }
    .footer__add-phone {
        margin-right: 40px;
    }
    .header__container {
        width: 845px;
    }
    .skill__tab-form {
        padding: 0 180px;
    }
    .skills__title {
        font-size: 23px;
        width: 839px;
    }
    .skills__list-item {
        width: 410px;
    }
    .line__list {
        width: 131%;
    }
}
@media (max-width: 1150px) {
    .header__container {
        width: 795px;
    }
    .skill__tab-form {
        padding: 0 180px;
    }
    .header__info-title {
        width: 410px;
    }
    .line__list {
        width: 135%;
    }
    .info__text-title {
        font-size: 26px;
    }
    .skills__title {
        font-size: 26px;
    }
    label.skill__tab:nth-child(1) {
        padding: 20px 40px 20px 180px;
    }
    label.skill__tab:nth-child(4) {
        padding: 20px 53px 20px 40px;
    }
    .skills__title {
        font-size: 19px;
        width: 790px;
    }
    .header__info-title {
        font-size: 50px;
    }
    .footer__info-sections {
        margin: 38px 120px 0 0;
    }
    .footer__add-phone {
        margin-right: 20px;
    }
    .skills__list-item {
        width: 380px;
    }
}
@media (max-width: 1100px) {
    .line__list {
        width: 145%;
    }
    .info__container {
        padding: 120px 45px 0 45px;
    }
    label.skill__tab:nth-child(1) {
        padding: 20px 40px 20px 180px;
    }
    label.skill__tab:nth-child(4) {
        padding: 20px 31px 20px 35px;
    }
    label.skill__tab {
        font-size: 18px;
    }
    .skills__list-item {
        width: 360px;
    }
    .skills__title {
        width: 100%;
        font-size: 19px;
    }
    .footer__info-sections {
        margin: 38px 100px 0 0;
    }
    .footer__add-phone {
        margin-right: 0;
    }
}
@media (max-width: 1050px) {
    .line__list {
        width: 155%;
    }
    button.skills__info-btn {
        margin-top: 0;
    }
    .info__container {
        padding: 120px 28px 0 28px;
    }
    label.skill__tab:nth-child(1) {
        padding: 20px 40px 20px 45px;
    }
    .skills__list-item {
        width: 470px;
    }
    .skills__title {
        width: 100%;
        font-size: 23px;
    }
    .stories__list-item {
        height: 140px;
    }
    .stories__list-text {
        height: 70px;
    }
    .header__container {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding: 0px 350px;
    }
    .header__info-add {
        display: none;
    }
    .header__info-title {
        display: none;
    }
    .header__search {
        display: none;
    }
    .header__image-add {
        display: block;
    }
    .header__image-title {
        display: block;
    }
    .header__image {
        width: 300px;
        height: 300px;
        margin-top: 64px;
    }
    .header__image-fon {
        height: 300px;
    }
    .header__image-item {
        width: 300px;
        height: 300px;
    }
    .header__image-fon {
        width: 300px;
        height: 300px;
    }
    .header {
        padding: 0;
        & rect {
            fill: #000;
        }
        & .container {
            padding: 0;
        }
    }
    .header__nav {
        padding: 12px 28px;
        background: #000;
    }
    .header__menu-geo {
        display: none;
    }
    .header__menu {
        justify-content: flex-end;
    }
    .header__menu-item {
        &::after {
            border: 1px solid #fff;
        }
        &::before {
            border: 1px solid #fff;
        }
    }
    .header__image-item {
        top: -42px;
        left: -5px;
    }
    .header__image-title {
        margin-top: 44px;
        font-size: 50px;
    }
    .header__info-text {
        font-size: 18px;
        width: 350px;
    }
    button.header__info-btn {
        height: 60px;
        width: 200px;
    }
    .header__info-btn-right:after {
        top: 35px;
    }
    button.header__info-btn:hover .header__info-btn-right.btn-right-after:before {
        top: 26px;
    }
    .info__container {
        flex-direction: column-reverse;
        padding: 120px 322px 130px 322px;
        border-bottom: none;
    }
    .case {
        border-top: 1px solid #949494;
    }
    .info {
        & .container {
            padding: 0px 28px;
        }
    }
    .info__text-title {
        display: none;
    }
    .info__media-title {
        display: block;
        font-size: 25px;
    }
    .case__image-title {
        padding: 412px 28px 0px 28px;
    }
    .case__lists {
        flex-direction: column;
    }
    .case__lists-item-1 {
        width: 100%;
        background-position: 50% 50%;
        height: 430px;
        &::after {
            display: block;
            left: 28px;
        }
    }
    .case__lists-item-2 {
        width: 100%;
        background-position: 50% 50%;
        height: 430px;
        &::after {
            display: block;
            left: 28px;
        }
    }
    .case__lists-item-3 {
        width: 100%;
        background-position: 50% 50%;
        height: 430px;
        &::after {
            display: block;
            left: 28px;
        }
    }
    .case__image {
        height: 647px;
    }
    .skills__text {
        padding: 100px 0 10px 350px;
    }
    .skills__block-title {
        padding: 0px 350px;
        font-size: 20px;
    }
    .skills__block-btn {
        padding: 84px 350px 90px 350px;
    }
    .skills__text-title {
        text-align: left;
    }
    .skills__text-add {
        height: 210px;
        font-size: 25px;
        width: 615px;
    }
    .case {
        & .container {
            padding: 0 0;
        }
    }
    .case__text {
        padding: 93px 0px 0 350px;
    }
    .skills__tabs {
        display: none;
    }
    .skills__wrapper {
        display: block;
        width: 100%;
        margin: 0;
        max-width: 100%;
    }
    .skills__accordion-item {
        margin: 0;
    }
    .stories {
        & .container {
            padding: 0px 0;
        }
    }
    .stories__text {
        padding: 85px 0 85px 350px;
    }
    .team {
        & .container {
            padding: 0;
        }
    }
    .team__text {
        padding: 85px 90px 85px 350px;
    }
    .footer__info-sections {
        margin: 38px 50px 0 0;
    }
    .footer__info-phone {
        margin-right: 50px;
    }
    .stories__list-text {
        width: 500px;
        height: 80px;
        display: flex;
        align-items: center;
    }
    // .grain-7 {
    //     display: block;
    //     height: 2000px;
    //     top: 7930px;
    // }
    .header__media {
        display: block;
    }
}
@media (max-width: 1000px) {
    // .grain-7 {
    //     height: 2000px;
    //     top: 7930px;
    // }
}
@media (max-width: 950px) {
    .info__container {
        padding: 120px 0 130px 300px;
    }
    .line__list {
        width: 190%;
    }
    .skills__text-add {
        font-size: 20px;
    }
    .footer__block {
        padding: 65px 0 30px 0;
    }
    .skills__text-add {
        width: 500px;
    }
    .header__container {
        padding: 0 327px;
    }
    .case__text {
        padding: 93px 0 0 330px;
    }
    .skills__text {
        padding: 100px 0 10px 330px;
    }
    .skills__block-title {
        padding: 0 330px;
        font-size: 18px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 330px;
    }
    .stories__text {
        padding: 85px 0 85px 330px;
    }
    .team__text {
        padding: 85px 90px 85px 330px;
    }
    // .grain-7 {
    //     height: 1920px;
    //     top: 7930px;
    // }
}

@media (max-width: 900px) {
    .info__container {
        padding: 120px 0 130px 250px;
    }
    .line__list {
        width: 190%;
    }
    .skills__text-add {
        font-size: 20px;
    }
    .header__container {
        padding: 0px 278px;
    }
    .case__text {
        padding: 93px 0 0 278px;
    }
    .skills__text {
        padding: 100px 0 10px 278px;
    }
    .skills__block-title {
        padding: 0 278px;
        font-size: 16px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 278px;
    }
    .stories__text {
        padding: 85px 0 85px 278px;
    }
    .team__text {
        padding: 85px 90px 85px 278px;
    }
    .stories__list-text {
        width: 470px;
    }
}
@media (max-width: 850px) {
    .header__container {
        padding: 0 240px;
    }
    .info__container {
        padding: 120px 0 130px 215px;
    }
    .case__text {
        padding: 93px 0 0 245px;
    }
    .skills__text {
        padding: 100px 0 10px 240px;
    }
    .skills__block-title {
        padding: 0 240px;
        font-size: 15px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 240px;
    }
    .stories__text {
        padding: 85px 0 85px 240px;
    }
    .team__text {
        padding: 85px 90px 85px 240px;
    }
    .stories__list-text {
        margin-left: 85px;
    }
}
@media (max-width: 800px) {
    .header__container {
        padding: 0px 215px;
    }
    .info__container {
        padding: 120px 0 130px 185px;
    }
    .case__text {
        padding: 93px 0 0 220px;
    }
    .skills__text {
        padding: 100px 0 10px 210px;
    }
    .stories__text {
        padding: 85px 0 85px 210px;
    }
    .team__text {
        padding: 85px 90px 85px 210px;
    }
    .skills__text-add {
        width: 530px;
    }
    .skills__block-title {
        padding: 0 210px;
        font-size: 15px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 210px;
    }
    // .grain-7 {
    //     height: 1810px;
    //     top: 7930px;
    // }
}
@media (max-width: 750px) {
    .line__list {
        width: 200%;
    }
    .case__text {
        padding: 93px 0 0 210px;
    }
    .skills__text-add {
        width: 485px;
    }
    .stories__list-item {
        flex-direction: column;
        justify-content: flex-start;
    }
    .stories__list-item {
        align-items: flex-start;
        height: 100%;
    }
    .stories__list-logo {
        margin-top: 48px;
        margin-bottom: 69px;
        margin-left: 28px;
    }
    .stories__list-text {
        margin-bottom: 42px;
        justify-content: flex-start;
        margin-left: 28px;
    }
    .footer__info-item:last-child {
        display: none;
    }
    .footer__add-phone {
        display: none;
    }
    .footer__info-phone {
        margin-right: 0;
    }
    // .grain-7 {
    //     height: 2240px;
    //     top: 7930px;
    // }
}
@media (max-width: 700px) {
    .header__container {
        padding: 0 160px;
    }
    .info__container {
        padding: 120px 0 130px 133px;
    }
    .case__text {
        padding: 93px 0 0 160px;
    }
    .skills__text {
        padding: 100px 0 10px 160px;
    }
    .stories__text {
        padding: 85px 0 85px 160px;
    }
    .team__text {
        padding: 85px 90px 85px 160px;
    }
    .skills__text-add {
        width: 500px;
    }
    .line__list {
        width: 230%;
    }
    // .grain-7 {
    //     height: 2290px;
    //     top: 7930px;
    // }
}
@media (max-width: 650px) {
    .skills__text-add {
        font-size: 16px;
        width: 400px;
    }
    // .grain-7 {
    //     height: 2240px;
    //     top: 7930px;
    // }
    .header__container {
        padding: 0 140px;
    }
    .info__container {
        padding: 120px 0 130px 113px;
    }
    .case__text {
        padding: 93px 0 0 140px;
    }
    .skills__text {
        padding: 100px 0 10px 140px;
    }
    .stories__text {
        padding: 85px 0 85px 140px;
    }
    .team__text {
        padding: 85px 90px 85px 140px;
    }
    .skills__text-add {
        width: 430px;
    }
    .line__list {
        width: 250%;
    }
    .skills__block-title {
        padding: 0 140px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 140px;
    }
}
@media (max-width: 600px) {
    .header__container {
        padding: 0 130px;
    }
    .skills__text-add {
        width: 400px;
    }
    // .grain-7 {
    //     height: 2390px;
    //     top: 7930px;
    // }
    // .grain-7 {
    //     height: 2388px;
    //     top: 7930px;
    // }
    .info__container {
        padding: 120px 0 130px 90px;
    }
    .case__text {
        padding: 93px 0 0 120px;
    }
    .skills__text {
        padding: 100px 0 10px 120px;
    }
    .stories__text {
        padding: 85px 0 85px 120px;
    }
    .team__text {
        padding: 85px 90px 85px 120px;
    }
    .line__list {
        width: 275%;
    }
    .footer__info {
        flex-direction: column;
    }
    .footer__info-item:nth-child(2) {
        margin-top: 61px;
    }
    .footer {
        border-top: 1px solid #949494;
    }
    .footer__container {
        border-top: none;
        margin: 0;
    }
    // .team {
    //     margin-bottom: 170px;
    // }
    .skills__block-title {
        padding: 0 120px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 120px;
    }
    // .grain-7 {
    //     height: 2550px;
    //     top: 7760px;
    // }
}
@media (max-width: 550px) {
    .header__container {
        padding: 0 100px;
    }
    // .grain-7 {
    //     height: 2388px;
    //     top: 7930px;
    // }
    .info__container {
        padding: 120px 0 130px 55px;
    }
    .case__text {
        padding: 93px 0 0 85px;
    }
    .skills__text {
        padding: 100px 0 10px 85px;
    }
    .stories__text {
        padding: 85px 0 85px 85px;
    }
    .team__text {
        padding: 85px 90px 85px 85px;
    }
    .footer__add-sections a {
        margin-right: 10px;
    }
    .line__list {
        width: 290%;
    }
    .skills__block-title {
        padding: 0px 85px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 85px;
    }
}

@media (max-width: 500px) {
    .header__container {
        padding: 0px 80px;
    }
    // .grain-7 {
    //     height: 2390px;
    //     top: 7930px;
    // }
    .info__container {
        padding: 120px 0 130px 30px;
    }
    .case__text {
        padding: 93px 0 0 60px;
    }
    .skills__text {
        padding: 100px 0 10px 60px;
    }
    .stories__text {
        padding: 85px 0 85px 60px;
    }
    .team__text {
        padding: 85px 90px 85px 60px;
    }
    .footer__add-sections a {
        margin-right: 10px;
    }
    .line__list {
        width: 320%;
    }
    .footer {
        & .container {
            padding: 0px 28px;
        }
    }
    .stories__list-text {
        width: 400px;
    }
    .skills__block-title {
        padding: 0 60px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 60px;
    }

}

@media (max-width: 450px) {
    .header__container {
        padding: 0 40px;
    }
    // .grain-7 {
    //     height: 2430px;
    //     top: 7930px;
    // }
    .info__container {
        padding: 120px 0 130px 0;
    }
    .case__text {
        padding: 93px 0 0 50px;
    }
    .skills__text {
        padding: 100px 0 10px 50px;
    }
    .stories__text {
        padding: 85px 0 85px 50px;
    }
    .team__text {
        padding: 85px 90px 85px 50px;
    }
    .footer__add-sections a {
        margin-right: 10px;
    }
    .header__image {
        width: 420px;
        height: 380px;
        margin-top: 10px;
    }
    .footer {
        & .container {
            padding: 0px 28px;
        }
    }
    .stories__list-text {
        width: 370px;
    }
    .info__text {
        padding: 0px 20px;
    }
    .skills__block-title {
        padding: 0 50px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 50px;
    }
    .header__image-title {
        width: 359px;
    }
    .header__image {
        width: 305px;
        height: 340px;
        margin-top: 20px;
    }
    .line__list {
        width: 375%;
    }
    .info__image-container {
        width: 100%;
    }
    .info__stats {
        width: 100%;
    }
    .skills__text-add {
        width: 340px;
        font-size: 14px;
    }
}

@media (max-width: 400px) {
    .header__container {
        padding: 0 28px;
    }
    // .grain-7 {
    //     height: 2510px;
    //     top: 7930px;
    // }
    .info__container {
        padding: 120px 0 130px 0;
    }
    .case__text {
        padding: 93px 0 0 28px;
    }
    .skills__text {
        padding: 100px 0 10px 28px;
    }
    .stories__text {
        padding: 85px 0 85px 28px;
    }
    .team__text {
        padding: 85px 90px 85px 28px;
    }
    .footer__add-sections a {
        margin-right: 10px;
    }
    .line__list {
        width: 395%;
    }
    .footer {
        & .container {
            padding: 0px 28px;
        }
    }
    .info {
        & .container {
            padding: 0;
        }
    }
    .stories__list-text {
        width: 400px;
    }
    .stories__list-text {
        width: 350px;
        height: 120px;
    }
    .info__stats {
        width: 100%;
    }
    .header__image {
        margin-left: 20px;
    }
    .line__list {
        width: 370%;
    }
    .info__image-container {
        width: 100%;
    }
    .header__image-title {
        margin-top: 44px;
        font-size: 45px;
        width: 320px;
    }
    .info__media-title {
        display: none;
        width: 340px;
    }
    .skills__block-title {
        padding: 0 28px;
        font-size: 14px;
    }
    .skills__block-btn {
        padding: 84px 0 90px 28px;
    }
    .skills__text-add {
        font-size: 14px;
        width: 340px;
    }
}
@media (max-width: 375px) {
    .header__info-btn-right:after {
        top: 31px;
    }
    // .grain-7 {
    //     height: 2780px;
    //     top: 7930px;
    // }
    .line__list {
        width: 390%;
        left: -87px;
    }
    .info__image-container {
        width: 100%;
    }
    .skills__text-add {
        font-size: 13px;
        width: 334px;
    }
    .stories__list-text {
        width: 330px;
        height: 120px;
    }
    .header__image {
        margin-left: 0;
    }
    .skills__block-title {
        width: 319px;
        height: 415px;
    }
    .header__info-text {
        font-size: 16px;
        width: 330px;
    }
}